[2018-11-16 12:55] laura-ham commented on #565
I get the point, but why having the distinction between Things and Actions at all then in the API?

[2018-11-16 13:24] moretea opened #573 "Efficient list queries"
At this moment we run 1+N queries to find the results for a `GET /things` or `GET /actions` request:

[code]

How can these two be combined, so that we would have 1 query?

[2018-11-16 16:07] bobvanluijt opened #574 "How to set custom contextionary or other config?"
Inside the Dockerfile, Weaviate runs with the following config:

1. [As set here](https://github.com/creativesoftwarefdn/weaviate/blob/develop/Dockerfile#L62) with `--port` and `--scheme`. **Question**: How to change these settings while running the Docker as described [here](https://github.com/creativesoftwarefdn/weaviate/blob/develop/docs/en/use/running-with-Docker.md).
2. [This configuration is

[2018-11-16 19:45] idcrosby commented on #574
@bobvanluijt just to confirm this is only for developers correct?

[2018-11-17 11:33] bobvanluijt opened #575 "Validate how values are validated against the Contextionary"
After some tests were done by @etiennedi. I would like to validate the following. In case validated I will also add it to the contribution docs.

@moretea can you please validate the below and share what your findings are?

1. The contextionary is _case insensitive_. For example, the word `kyle` and `Kyle` will both have the same vector values.
2. Adding classes, properties, and keywords via the e

[2018-11-17 11:42] etiennedi commented on #575
Background: This is how I discovered this:

- Goal: I wanted to create `Things` with only primitive properties
- I used any word from the contextionary to create such a primitive property.
- If the word I wanted to use as a property name was capitalized in the contextionary, I converted the first character to lowercase
- this led to some successful creation of `Things`, others failed.
- When inspe

[2018-11-17 14:53] moretea commented on #565
I believe that @bobvanluijt wants to distinguish between the two in the future. In any case, the class names of actions and things form one namespace; you cannot have a class `FooBar` that is both an Action and a Thing.

From a engineering perspective, they are identical at the moment.

[2018-11-17 14:54] moretea commented on #567
Yep, indeed!

[2018-11-17 14:54] #567 closed

[2018-11-17 14:55] bobvanluijt commented on #565
What @moretea writes is correct, currently they are identical from an engineering perspective but they will almost certainly deflect in the future.

[2018-11-17 15:06] moretea commented on #575
The contextionary is case insenstive as far as everything is converted to lowercase during the checks.

We could prevent these kind of issues by improving the quality of the contextionary.

To mind comes adding a pre-processing step to make the corpus lowercase and remove stuff like interpunction by removing all characters that are not in the alphabet.

[2018-11-17 15:07] moretea commented on #575
And yes, the camel cased words are split, and each of them is considered to be part of the input to compute the vector that represents the class / property.

[2018-11-18 17:20] bobvanluijt commented on #575
I'm not sure I understand @moretea.

You write that the contextionary is case insensitive. But also suggest pre-processing the corpus. I get this from an interpunction perspective but not from a word perspective. Like the example given by @etiennedi, it should have recognized "kyle" because it is in the contextionary with a capital K especially if the contextionary is case insensitive.

[2018-11-18 17:20] bobvanluijt commented on #574
Correct

[2018-11-18 17:39] etiennedi commented on #575
I'm not sure if it's due to capitalization or if there is another issue. A random test I just did with 100 random words from the contextionary led to only 79% success rate.

Granted some of those words are actually not suited to be classnames (like all-uppercase acronyms), but most words are contained in the contextionary, yet I'm seeing an error. I randomly spotchecked some (`Airbus`, `Tampa`, `N

[2018-11-18 17:47] moretea commented on #575
That is because I added a validation step to ensure that all words must be `CamelCased` for classes, and `camelCased` like that for properties.

Hence my suggestion to improve the contextionary; we discussed this in July and decided that given that the corpus was not 100% set in stone yet, we'd do this later. I can't find an issue about this unfortunately.

[2018-11-18 17:49] moretea commented on #575
Note that simply changing the generator of the contextionary files is not sufficient; we might have a `Foobar` and `foobar` in there with different vectors. This complictes stuff as you can't remove elements from the contextionary.

I think that sanitizing the input would be the easiest to not allow nonsense input.

[2018-11-18 18:04] etiennedi commented on #575
Don't think this applies to my example above. The words `Airbus`, `Tampa`, `Nader` are all `CamelCased`. Both in my request as well as in the contextionary. The only `camelCased` variant is in the error message itself, e.g.: `Could not find the word 'airbus' from the class name 'Airbus' in the contextionary. Consider using keywords to define the semantic meaning of this class.`.

[2018-11-18 18:54] moretea commented on #575
For those examples, it is probably the case that only the word 'Airbus' is
actually added in the contextionary's wordlist

With a capital a.

The validation logic in the database scheme downcases all words after they
are validates / split into parts.

So, if no 'airbus' is available in the contextionary, the check fails and
claims that Airbus is not in the contextionary.

So if we implement prepro

[2018-11-19 19:07] laura-ham commented on #565
So if I understand it correctly, you want to keep the distinction in the API, but want to remove the distinction in the `path` in the filter? That does not sound logical to me..

[2018-11-20 10:47] moretea opened #576 "Remove 'schema' from all configurations"
Now that we store the schema in Weaviate (#468), these references should be removed.

[2018-11-20 10:48] moretea opened #577 "Add schema manager configuration to all configurations"
The "root" configuration is not usable; we need to configure a database manager since #468.

[2018-11-20 15:57] moretea commented on #565
@bobvanluijt https://github.com/creativesoftwarefdn/weaviate/issues/565#issuecomment-440064570 is ambiguous to me. Are you talking about the distinction in the REST API, or have you changed your mind and want to have it back in the filters :)?

You agreed to remove this here https://github.com/creativesoftwarefdn/weaviate/issues/565#issuecomment-438348996,  and I have implemented this last week. D

[2018-11-20 18:12] idcrosby opened #578 "Fix weaviate build"
Build failing with new JanusGraph docker image

[2018-11-20 18:13] idcrosby commented on #578
https://travis-ci.org/creativesoftwarefdn/weaviate/builds/456367421

[2018-11-20 21:20] bobvanluijt commented on #565
Aha, okay, I did not know this. I was talking about the filters and my response was based on @laura-ham's comment which she responded to later.

@laura-ham and @JeroenStravers1, can you confirm that this implementation that @moretea states above is reflected in the prototype and tests?

[2018-11-20 21:36] bobvanluijt commented on #575
Thanks for this @moretea. Can you please define _what_ the preprocessing needs to do? I'll make sure that a new contextionary is rendered _including_ the preprocessing and based on the latest Wiki.

[2018-11-20 21:37] laura-ham commented on #565
@bobvanluijt, I did not take any action regarding this because the discussion was not closed yet. So the implementation by @moretea is not yet reflected in the prototype, docs and tests.

[2018-11-20 21:48] bobvanluijt commented on #565
Check @laura-ham 👍
Can you please align with @moretea's implementation?

[2018-11-20 21:57] laura-ham commented on #565
Of course, but I think we should make a decision about this issue, whether to keep the path as it is or not?

[2018-11-20 22:40] idcrosby commented on #578
https://github.com/creativesoftwarefdn/weaviate/pull/579

[2018-11-20 22:59] idcrosby opened #580 "Build/Push docker images from Travis"
The CI system (Travis) should be building docker images for master and develop branches and push them to the Docker Hub repo (https://hub.docker.com/r/creativesoftwarefdn/weaviate/)

[2018-11-21 12:34] moretea commented on #575
1. **Remove irrelevant characters** like interpunction. If you'd check the output, you'll note that it contains numbers, exclamation marks, percentages, etc.
2. **Normalize names** downcase the whole corpus

[2018-11-21 12:39] moretea commented on #575
Note that this will not prevent us from having words in the contextionary  like personal names, eg "Bob". You probably don't want to have an action "EmailBob" to be automatically have a semantic meaning, but well, that's machine learning ;).

I imagine that we can restrict the words to the words that are in a processed dictionary, but still use the corpus to compute the distance. So the dictionary

[2018-11-21 12:49] moretea opened #581 "Get rid of docker-compose-test.yaml"
I noticed in #579 that we're using the `docker-compose-test.yaml` file for the acceptance tests.

There is no logical difference between these environments now, given that the schema is _in_ Weaviate now, and not in external files.

Also we should rething the configuration as suggested in #450

[2018-11-21 12:50] moretea commented on #580
1 million :+1:'s

[2018-11-21 13:30] moretea opened #582 "Fix nil deref if no schema defined in serving GraphQL"

[2018-11-21 13:33] moretea opened #583 "Fix datatype 'date' in schema creation"

[2018-11-21 19:22] bobvanluijt commented on #581
We need to stay aware that there can be different configurations especially when we create new connectors in the future.

I'm thinking of ditching the whole configuration file and add them as `--args` with specific defaults. Any thoughts on that @moretea and @etiennedi?

[2018-11-21 20:34] bobvanluijt commented on #565
Concerning timelines and because @moretea already has implemented the above let's make a smart decision.

- @laura-ham do I understand correctly that you are _not_ in favor of removing them?
- @moretea how difficult would it be to revert and include them?

[2018-11-21 20:38] idcrosby commented on #574
@bobvanluijt the above commit solves the first part.

Regarding the second part (contextionaries) if I understand it correctly there is a sample contextionary text file [here](https://github.com/creativesoftwarefdn/weaviate/blob/develop/test/contextionary/en_test-vectors-small.txt.bz2) which then gets 'built' into the required `idx` and `kdn` files. For the development workflow the simplest soluti

[2018-11-21 23:17] moretea commented on #574
It is a _trained_ dataset. Not a list of words :)
So no generation during runtime; for big contextionary this takes ages. The idx and knn files are more a distrubition format.

We considered to make this just one file, but Spotify's libarary that we use for the k-nearest neighbour search uses the file length for it's indexing computations. We either had to use two files, or re-implement that libra

[2018-11-21 23:20] moretea commented on #581
Agreed! But that concern is orthogonal to this issue that I opened.

Before #468 we needed two different compose files, because the schema was part of the configuration.

So this issue proposes to reduce complexity that is not needed.

[2018-11-22 12:30] JeroenStravers1 commented on #519
Closing, this has been resolved (I just failed to mention this issue in my commits)

[2018-11-22 12:30] #519 closed

[2018-11-22 12:33] JeroenStravers1 opened #584 "Apply HTTP endpoint batching implementation to GQL batching endpoint"
The HTTP endpoints use `/batching/things` and `/batching/actions`, where the GQL endpoint uses `/graphql/batch`. The HTTP endpoints also contain a solution for batched request error handling. Apply the HTTP approach to the GQL batching endpoint.

[2018-11-22 14:39] bobvanluijt commented on #584
@JeroenStravers1 FYI: graphql batching is based on [Apollo GraphQL](https://www.apollographql.com/). We need to follow that implementation. This is not the case for the other endpoints.

[2018-11-22 14:41] bobvanluijt commented on #565
Ok, in that case we will leave it out for now and I'll close the issue.

[2018-11-22 14:41] #565 closed

[2018-11-22 14:47] bobvanluijt commented on #575
In the contextionary @moretea. Practically this means;
1. I'll make sure that the vector file used to generate the contextionary _only_ contains `/[^a-z0-9]+/g` _and_ interpunction.
2. When creating things, actions, keywords, etc. You can ignore the interpunction in Weaviate.

What is _really_ important though is that;
1. Weaviate is in charge of CamelCase usage. If the word `elephant` is in the c

[2018-11-22 14:51] bobvanluijt commented on #574
It is a bit different @idcrosby.

Your observation is correct, but there will be different contextionaries.

The default contextionaries will be available on the web;
- `https://contextionary.creativesoftwarefdn.org/latest/contextionary.idx`
- `https://contextionary.creativesoftwarefdn.org/latest/contextionary.knn`
_Note: not available yet & Soon we will also be getting other files that are part o

[2018-11-22 15:14] idcrosby commented on #574
Ok thanks @bobvanluijt that makes things a bit simpler.

[2018-11-22 16:09] bobvanluijt opened #586 "Add additional type Text"
A new type needs to be added which is called `text` for things and actions.

Text properties;
- `Text` is stored as a string but _not_ indexed.
- `Text` should not be searchable in GraphQL. For example in a where clause, if the path contains a `text` value it should not be processed.

Todo:
- [x] @laura-ham, add above-mentioned behavior to the prototype.
- [x] @JeroenStravers1,  implement Laura's

[2018-11-22 16:10] bobvanluijt commented on #586
cc: @etiennedi for your test script ⬆️

[2018-11-22 16:13] etiennedi commented on #586
Someone ping me please once this is implemented in weaviate itself, I can easily add this to the verification script then. - Don't think it makes sense to do it in parallel as it'll just fail all the time until the field is ready.

[2018-11-23 09:41] moretea commented on #575
That is exactly how it works yes.

[2018-11-23 09:41] #575 closed

[2018-11-26 10:29] moretea opened #588 "Bump version in generated code too"
Add note to release process to regenerate swagger code after bumping version number:

![image](https://user-images.githubusercontent.com/99988/49008569-6cde3a80-f16e-11e8-9214-04c72dcdc995.png)

[2018-11-26 15:17] bobvanluijt commented on #588
Would it be an idea to make this part of the CI?

[2018-11-26 17:20] #578 closed

[2018-11-26 17:21] idcrosby commented on #564
resolved: https://github.com/creativesoftwarefdn/weaviate/pull/572

[2018-11-26 17:21] #564 closed

[2018-11-27 09:17] bobvanluijt opened #590 "Fetch contextionary from remote location"
Location: https://contextionary.creativesoftwarefdn.org
Meta: https://contextionary.creativesoftwarefdn.org/contextionary.json

[2018-11-27 20:38] idcrosby opened #592 "Move default config location from root"
Weaviate looks for the config file (`weaviate.conf.json`) in the root directory (at least by default). And this is how we are currently building the Docker images. A more standard approach would be to have config directory (e.g. `/weaviate-conf/`).  This will also allow us to mount the directory as a Volume.

[2018-11-28 13:41] laura-ham commented on #511
@moretea @JeroenStravers1 @bobvanluijt

New groupBy design:

[code]

If no comments/suggestions, I will implement this in the prototype asap! :)

[2018-11-28 14:10] bobvanluijt commented on #511
@laura-ham does this solve the problem as stated yesterday by you and @JeroenStravers1?

[2018-11-28 14:46] JeroenStravers1 commented on #511
Looks good!

[2018-11-28 15:09] bobvanluijt commented on #511
Cool, in that case I would move it forward. Please don't forget to update the docs ;-)
@JeroenStravers1 can you pick it up when it's in the prototype?

[2018-11-28 20:43] JeroenStravers1 commented on #481
closing this issue as we decided to implement dataloader functionality in another way

[2018-11-28 20:43] #481 closed

[2018-11-30 20:35] JeroenStravers1 opened #593 "Error merging network queries with local queries"
## Issue
I'm implementing the network queries in the updated [GQL schema](https://github.com/creativesoftwarefdn/weaviate/blob/develop/graphqlapi/schema.go). My code compiles, but when launching Weaviate I keep getting the following error: `Could not regenerate GraphQL schema, because: &errors.errorString{s:"Could not build GraphQL schema, because: runtime error: invalid memory address or nil poin

[2018-11-30 21:46] bobvanluijt opened #594 "Do not stop generator if there is an issue with vector length"
Currently, the generator throws a fatal error. Rather skip the row that is causing the issue.

[2018-11-30 21:52] #594 closed

[2018-11-30 22:22] bobvanluijt opened #595 "Always get Contextionary from contextionary.creativesoftwarefdn.org"
1. Contextionaries should be downloaded from https://contextionary.creativesoftwarefdn.org/. More information [in the docs](https://github.com/creativesoftwarefdn/weaviate/blob/develop/docs/en/contribute/contextionary.md#download)
2. By default, always the latest version should be downloaded (see the [example here](https://github.com/creativesoftwarefdn/weaviate/blob/develop/docs/en/contribute/con

[2018-11-30 22:31] bobvanluijt commented on #595
cc: @etiennedi note [this](https://github.com/creativesoftwarefdn/weaviate/blob/develop/docs/en/contribute/contextionary.md#example-of-downloading-latest-vocabulary) example.

[2018-12-02 19:18] moretea opened #596 "Inconsistency in property naming in GQL Get / GetMeta"
#### Get
Titleizes the name of references.

[code]

#### GetMeta
Does not titleize reference names
[code]

#### Suggested solution
Also titleize the references in the `GetMeta` requests.

[2018-12-02 19:19] bobvanluijt opened #597 "Improve foobar connector (and update none used functions)"
Remove the functions;
- `func (j *Janusgraph) DeleteAction()`
- `func (j *Janusgraph) HistoryAction()`
- `func (j *Janusgraph) MoveToHistoryAction()`
- `func (f *Janusgraph) GetGraph()`
- `func (j *Janusgraph) DeleteThing()`
- `func (j *Janusgraph) HistoryThing()`
- `func (j *Janusgraph) MoveToHistoryThing()`

**IN:**
- https://github.com/creativesoftwarefdn/weaviate/tree/develop/database/connecto

[2018-12-02 20:00] bobvanluijt commented on #596
@laura-ham and @JeroenStravers1 can you please pick this up asap?

[2018-12-03 08:44] JeroenStravers1 commented on #596
Sure, I can pick this up as soon as the refactoring is complete.

[2018-12-03 13:17] bobvanluijt opened #598 "Add license dependencies"
Add license dependencies and make them part of the toolkit

[2018-12-03 13:21] etiennedi opened #599 "Improve docs on property datatype "date""
Currently we only document that the requirements for a `property` of type `date` is to match the `ISO 8601` standard here:

https://github.com/creativesoftwarefdn/weaviate/blob/develop/docs/en/use/ontology-schema.md#keywords--context

While this is correct, the `ISO 8601` allows several levels of precision, i.e. only seconds or including milliseconds. From our testing, we could see that submitting

[2018-12-03 13:40] #598 closed

[2018-12-03 16:21] JeroenStravers1 commented on #593
this is no longer an issue, thanks to some help from @moretea

[2018-12-03 16:21] #593 closed

[2018-12-03 16:35] JeroenStravers1 opened #600 "Update test schema to include Text DataType"
Add a `testText` property to the classes in the schema files in the `test/schema` folder;
[code]

[2018-12-03 16:49] etiennedi commented on #599
@bobvanluijt  A bit of research (and reading through the RFC specs) has shown that there is no rule such as "RFC 3339 always means seconds precisions". It is uncommon to show milliseconds, but second-fractions (it seems they are 1/100 of a second) are allowed, see https://tools.ietf.org/html/rfc3339#section-5.8

Nevertheless, as `RFC 3339` is intended to represent `ISO 8601` times on the internet,

[2018-12-03 18:00] moretea commented on #597
I would suggest to not remove DeleteAction and DeleteThing. I asume we still want to be able to remove data?

These functions _are_ implemented, see
https://github.com/creativesoftwarefdn/weaviate/blob/develop/database/connectors/janusgraph/things.go#L88

which uses this helper function: https://github.com/creativesoftwarefdn/weaviate/blob/develop/database/connectors/janusgraph/helper.go#L580-L588

[2018-12-04 13:37] moretea opened #601 "GetMeta & date type"
### Query
[code]

This is copied from how a string is handled, is this appropriate for dates @laura-ham?

[2018-12-04 14:33] laura-ham commented on #601
Good question @moretea. Dates are handled as strings by GraphQL, that's why it is currently implemented in the prototype like this. But I agree that we could offer more than this :)

We could add fields for `firstDate` and `lastDate`? Should we also consider more elements of the `Date` datatype (because it's rich of info) or would that be too specific? E.g. `averageTime`, `topOccurrences{month}` e

[2018-12-05 10:40] etiennedi opened #602 "Get Data from remote weaviate on { Network { Get } }"
In #515 we make sure that the GraphQL "structure" is present for `{ Network { Get } }` and point it to a network resolve. **The goal of this issue is to implement the logic for that resolver, i.e. to actually retrieve this data from a remote instance**.

## Todos
_(not a complete list yet - it'll still grow)_
* [x] spike out possible solutions to find a simple and stable one
  * [x] can we proxy b

[2018-12-05 10:44] #566 closed

[2018-12-05 10:44] #563 closed

[2018-12-05 10:44] #562 closed

[2018-12-05 11:55] #561 closed

[2018-12-05 11:55] #571 closed

[2018-12-05 11:57] bobvanluijt commented on #365
Currently looking at using a model because wordnet covers about 15% of the Contextionary.

[2018-12-05 11:59] bobvanluijt commented on #382
Solved here: https://github.com/creativesoftwarefdn/weaviate/issues/595

[2018-12-05 11:59] #382 closed

[2018-12-05 12:01] bobvanluijt commented on #414
Is this one still relevant @moretea ?

[2018-12-05 12:02] bobvanluijt commented on #411
Is this still relevant @moretea?

[2018-12-05 12:03] bobvanluijt commented on #410
Is this changed in the meantime @JeroenStravers1 ?

[2018-12-05 12:04] bobvanluijt commented on #422
cc: @etiennedi

[2018-12-05 12:04] bobvanluijt commented on #417
Is this still relevant @moretea ?

[2018-12-05 12:04] #419 closed

[2018-12-05 12:04] #420 closed

[2018-12-05 12:05] bobvanluijt commented on #463
Being picked up in more recent issues.

[2018-12-05 12:05] #463 closed

[2018-12-05 12:05] bobvanluijt commented on #462
Done

[2018-12-05 12:05] #462 closed

[2018-12-05 12:06] bobvanluijt commented on #460
Already being covered by @idcrosby

[2018-12-05 12:06] #460 closed

[2018-12-05 12:16] bobvanluijt commented on #429
Obsolete.

[2018-12-05 12:16] #429 closed

[2018-12-05 12:55] moretea commented on #414
There is no indexing yet, so if you want to have indexing, I'd suggest to keep this issue open yes.

[2018-12-05 12:58] moretea commented on #417
It can still cause trouble. I'd say that #450 would solve this.

[2018-12-05 12:58] #417 closed

[2018-12-05 12:59] moretea commented on #410
I fixed this yes.

[2018-12-05 12:59] #410 closed

[2018-12-05 13:00] moretea commented on #411
Yes.

Although the situation is better than before, there are probably still some glaring issues.

[2018-12-05 16:05] JeroenStravers1 opened #604 "Update batch GraphQL endpoint test"
## Issue
The batch GraphQL endpoint acceptance test currently sends a batch request containing two batched requests. These batched requests both contain erroneous syntax, meaning their responses will be error messages. The reason for this is that we currently do not have a static test dataset built in. Comparing error messages is the only stable test method for now.

## Solution
When we do have bu

[2018-12-05 16:30] bobvanluijt commented on #604
Check, we will have a "zoo" dataset.

[2018-12-05 16:32] bobvanluijt commented on #411
Check, thanks. Temporarily assigning to self.

[2018-12-05 16:33] bobvanluijt commented on #410
Awesome @moretea

[2018-12-05 16:37] bobvanluijt commented on #414
Can you elaborate a bit more on this @moretea? Are we talking graph indexes _and_ vertex-centric indexes? Because I assume they are needed to solve certain use cases in the GraphQL endpoint, right?

[2018-12-05 16:41] bobvanluijt commented on #520
What is the current status of this feature branch @moretea?

[2018-12-05 16:45] bobvanluijt commented on #454
Closing because it is solved by @etiennedi's script.

[2018-12-05 16:45] #454 closed

[2018-12-05 16:46] bobvanluijt commented on #450
Temporarily assign to self

[2018-12-05 16:47] bobvanluijt commented on #448
I assume this one is resolved based on the commit, isn't it @moretea?

[2018-12-05 16:49] bobvanluijt commented on #447
note to self: research and resolve.

[2018-12-05 16:50] bobvanluijt commented on #445
Can you please elaborate if this is still needed and with some more context @moretea?

Temporarily assigning to self.

[2018-12-05 16:50] bobvanluijt commented on #441
@laura-ham is this still relevant?

[2018-12-05 16:51] bobvanluijt commented on #440
@laura-ham can you elaborate a bit more?

[2018-12-05 16:52] bobvanluijt commented on #432
@moretea can I assume from the commits that this is resolved? If so, is it documented or where can I find the needed information?

[2018-12-05 16:52] bobvanluijt commented on #430
Obsolete

[2018-12-05 16:52] #430 closed

[2018-12-05 16:53] bobvanluijt commented on #428
Closing because this will be handled in a separate issue and release.

[2018-12-05 16:53] #428 closed

[2018-12-05 16:54] bobvanluijt commented on #423
Is this still relevant @moretea?

Temporarily assigning to self.

[2018-12-05 17:01] bobvanluijt commented on #457
Is this still relevant @moretea?

[2018-12-05 17:02] bobvanluijt commented on #459
Is still relevant @moretea?

[2018-12-05 17:06] bobvanluijt commented on #477
Hi @moretea, what is the status of this issue (also based on our email conversation).

[2018-12-05 17:07] bobvanluijt commented on #479
Became obsolete

[2018-12-05 17:08] bobvanluijt commented on #556
Is this still relevant @moretea?

Temporarily assigning this to @etiennedi depending on the answer.

[2018-12-05 17:08] bobvanluijt commented on #573
Is this still an open issue and relevant @moretea?

[2018-12-05 17:09] bobvanluijt commented on #581
Became obsolete, partly resolved, partly in other issues.

[2018-12-05 17:09] #581 closed

[2018-12-05 17:10] bobvanluijt commented on #601
Is this still relevant @laura-ham or @moretea?

[2018-12-05 17:11] bobvanluijt commented on #592
Any update on this @idcrosby?

[2018-12-05 17:13] bobvanluijt commented on #580
I can pick this up @idcrosby.

[2018-12-05 17:14] bobvanluijt commented on #506
What is the status of this issue @JeroenStravers1?

[2018-12-05 17:15] bobvanluijt commented on #485
Related to: https://github.com/creativesoftwarefdn/weaviate/issues/597

[2018-12-05 17:15] #479 closed

[2018-12-05 18:10] laura-ham commented on #441
@bobvanluijt I think this issue can be closed because the `where` filter is designed according to these suggestions a while ago.

[2018-12-05 18:13] laura-ham commented on #440
@bobvanluijt `meta` is used on the same level as property names in the `GetMeta` GraphQL query. Therefore, "meta" should not be used in the ontology schema as property name.
See https://github.com/creativesoftwarefdn/weaviate/blob/develop/docs/en/use/graphql_local.md#getmeta-function how `meta` is used in the `GetMeta` query.

[2018-12-05 18:20] laura-ham commented on #601
Yes, this is opened a day ago and would be nice if someone could reply on my comment. @moretea @JeroenStravers1 @bobvanluijt

[2018-12-05 20:41] bobvanluijt opened #605 "Container issue for doc updates"

[2018-12-05 22:08] #588 closed

[2018-12-06 08:41] JeroenStravers1 commented on #600
This can be closed after the merge_batching_and_netwpork_queries is merged with develop

[2018-12-06 08:42] etiennedi commented on #412
I agree that we should strive for being more aligned with the test period. At the same time, I'm aware that the cost of adding unit tests to existing code is often higher than writing that code itself. (unless it's very good code).

## Proposal
So, my pragmatic proposal would be: **Let's aim to unit-test new code, but accept that existing code is not always unit-tested.** This can also easily work

[2018-12-06 08:46] idcrosby commented on #580
Docker commands

Build Development:
[code]
Push Development:
[code]

Build Master:
[code]
Push Master:
[code]

[2018-12-06 09:03] etiennedi commented on #407
@moretea Can you elaborate a bit on what you mean by "in one process" as opposed to "in different processes"?. This sounds quite close to our Slack conversation (attached below for those that weren't part of it ;-)) about a potential development environment when testing the p2p feature.

[2018-12-06 09:12] JeroenStravers1 commented on #506
Currently the GQL batch endpoint returns batched request errors that would normally be returned as a header status code (say a `422`) by using the field that errors caused by GraphQL query errors would inhabit:
[code]
The batch create endpoints produce a similar response, but the error message is nested deeper:
[code]
The `"result"` field also has a property that contains either `"SUCCESS"`, `"PEN

[2018-12-06 09:20] bobvanluijt opened #606 "Goswagger is outdated"
Research if there are notable improvements for Weaviate. Current used version = [0.16.0](https://github.com/creativesoftwarefdn/weaviate/blob/develop/tools/gen-code-from-swagger.sh#L4) available = [0.17.2](https://github.com/go-swagger/go-swagger/blob/master/notes/v0.17.2.md)

[2018-12-06 13:24] bobvanluijt opened #607 "Update patterns in add_headers.py"
Patterns should be global.

[2018-12-06 14:13] bobvanluijt commented on #580
Done

[2018-12-06 14:13] #580 closed

[2018-12-06 14:19] bobvanluijt opened #608 "Add to docs how to set none-standard Contextionary location"
Related to: https://github.com/creativesoftwarefdn/weaviate/issues/574

Add to [this](https://github.com/creativesoftwarefdn/weaviate/blob/develop/docs/en/use/running-with-Docker.md) file how to change to another Contextionary.

[2018-12-06 14:49] JeroenStravers1 commented on #506
If this is acceptable, then yes :) I'll update the batching doc to reflect this.

[2018-12-06 15:24] etiennedi commented on #412
I've also noticed that a simple `go test ./...` leads to failures, because it includes the acceptance tests. I assume that the acceptance tests can only run inside a `docker-compose` setup?

I would propose to flag all tests with buildConstraints, such as `// +build unitTest` or `// +bulild acceptanceTest`. This way you can selectively run whatever tests you want using `go test -tag unitTests ./..

[2018-12-06 17:50] JeroenStravers1 commented on #506
Closing as discussed

[2018-12-06 17:50] #506 closed

[2018-12-07 07:34] etiennedi opened #609 "Support different schemas in P2P network"
## Background
As part of #515 and #602 we have made an over-simplification as an assumption: To get started quickly, we pretended that every instance on the network has the same schema/ontology. This enabled us to work on both the GraphQL parts (#515) as well as the Network Proxying Parts (#602) without having to build an elaborate schema synchronization system, first.

However, one of the selling

[2018-12-07 07:59] bobvanluijt commented on #597
Thanks @moretea.

Note to self: also update docs.

[2018-12-07 11:09] moretea commented on #477
Implementing this would entail implementing two interfaces:

- https://github.com/creativesoftwarefdn/weaviate/blob/develop/database/manager.go
- https://github.com/creativesoftwarefdn/weaviate/blob/develop/database/locks.go#L8-L14

Simply follow the logic that instantiates the LocalSchemaManager from [here on](https://github.com/creativesoftwarefdn/weaviate/blob/develop/restapi/configure_weaviate

[2018-12-07 14:18] moretea opened #611 "Clean up TODO's"
By running this script, i looked at all code that I added that contains the magic word 'TODO'.

<details>

[code]

</details>

### Found TODO's

<details>
<summary>

- [x] ./genesis/client/operations/operations_client.go

</summary>
<code><pre>
91f022281 (Maarten Hoogendoorn 2018-07-19 12:50:00 +0200  31) 	// TODO: Validate the params before sending
91f022281 (Maarten Hoogendoorn 2018-07-19 12:50:

[2018-12-07 14:26] moretea opened #612 "Optimize Janus queries from N+1 to 1 queries."

[2018-12-07 14:28] moretea opened #613 "Await index creation, needs input from Janus consultants"

[2018-12-07 14:30] moretea opened #614 "Perform string interpolation in Groovy"

[2018-12-07 14:31] moretea commented on #614
grep for gh-614 in the source code

[2018-12-07 14:32] moretea opened #615 "Convert key expiration checks to a unit test."

[2018-12-07 14:32] moretea commented on #615
Grep the source for gh-615.

[2018-12-07 14:33] moretea opened #616 "Fix validation to return consistent error messages; impossible to test in acceptance test"

[2018-12-07 14:33] moretea commented on #616
Grep the source for gh-616.

[2018-12-07 14:34] moretea opened #617 "Add HTTP responses for errors from endpoints that now have grown a synchronous option"

[2018-12-07 14:35] moretea commented on #617
Grep source for gh-617

[2018-12-07 14:36] moretea opened #618 "Update 'magic' words in contextionary after schema is updated"

[2018-12-07 14:36] moretea commented on #618
Grep source on gh-618

[2018-12-07 14:37] moretea opened #619 "Investigate how to remove keywords"
Go makes no distinction between nil and an empty slice.
This makes removing keywords hard.

[2018-12-07 14:37] moretea commented on #619
Grep source for gh-619

[2018-12-07 14:54] #611 closed

[2018-12-07 14:55] #524 closed

[2018-12-07 15:19] idcrosby commented on #574
@bobvanluijt I think the best way to handle contextionaries (after discussion with @moretea) is to add the contextionary files during build time.  Currently the code (weaviate) expects these files locally on the file system.  This way we won't need to modify weavaite at all.

[2018-12-07 15:32] etiennedi opened #621 "Make networks fully pluggable"
Networks are already quite pluggable, there is a common interface and two different types of networks (`p2p`, `fake`). However in comparison with the database connector, there are some limitations:

## Motivation
As part of a hackathon we want to add the ability to plug-in fun technologies like Ethereum. For this, also developers who aren't familiar with the codebase, need to be able to write a "p

[2018-12-08 12:41] bobvanluijt commented on #574
That is perfectly fine with me @idcrosby. It is important to bear in mind though, that this means that people need to rebuild if they want to use a _different_ contextionary.

Is the following flow an option? (also asking for the docs);
- Use doesn't set any build arguments, the [latest version](https://github.com/creativesoftwarefdn/weaviate/blob/develop/docs/en/contribute/contextionary.md#exampl

[2018-12-08 12:44] bobvanluijt commented on #618
Hi @moretea, can you please elaborate a bit more on what this issue entails?

[2018-12-08 12:45] bobvanluijt commented on #614
Hi @moretea, can you elaborate a bit on this piece?

[2018-12-08 12:50] bobvanluijt commented on #477
Thanks @moretea!

[2018-12-08 12:53] bobvanluijt commented on #609
Hi @etiennedi,

The proposal seems fine in general.

I would like to introduce an _additional_ idea for syncing. The Weaviates use the P2P endpoint to sync. What you _could_ do is this:
- When `Weaviate-A` requests something from `Weaviate-B` using the P2P endpoint, we could add the hash of the current schema in the body. If `Weaviate-B` receives the wrong hash, it can push the update again. Note

[2018-12-08 15:37] etiennedi commented on #609
In this case it would be the expected hash right? `A` queries `B` and expects `B` to have hash `afd0f23`. If `B` has a different hash, it'll trigger on update.

So I'd like the expectation to be contained in the naming.

Additionally, we might want to distinguish between a schema hash and a contextionary hash (and possibly other configurable things), so we might end up at `X-Weaviate-Expected-Sche

[2018-12-08 15:40] etiennedi commented on #609
On second though, `Expected` is not a good word. `Expected` implies that this is the one and only truough. But the expectation is only wrong because `A` had outdated data.

So, maybe we should call it `cached`, like `X-Weaviate-Cached-Schema-Hash`.

[2018-12-09 11:43] bobvanluijt commented on #609
The upside of using a cache of hashes also might solve another problem: who's wrong?

Example: `Weaviate A` queries `Weaviate B`. `Weaviate A` sends a hash that `Weaviate B` doesn't recognize.

If `Weaviate B` has the hash cached, it knows `Weaviate A` is outdated.

What is important, is that we extend the flow [mentioned here](https://github.com/creativesoftwarefdn/weaviate#p2p-network).

[2018-12-09 11:52] etiennedi commented on #609
From what I can tell most of this doc is quite outdated, right? Especially the diagrams. They still assumes the non-hybrid P2P approach, i.e. the genesis weaviate turning into  a regular weaviate after a second node has joined. But what I got from @moretea you have agreed to do a hybrid model, where one instance will always stay the genesis. It also mentions endpoints that don't exist anymore like

[2018-12-09 12:09] bobvanluijt commented on #609
Aha, I assumed the docs were in line with the changes. Please wait with updating them though. I'm pushing a big change to the docs in the coming week.

[2018-12-09 12:12] etiennedi commented on #609
Ok, good to know. Then I won't introduce the documentation on the feature branch for #602 yet, but rather wait for your update.

On the state of the docs, from what I can tell, they were updated in parts, but not all the way through. The first paragraph definitely mentions the hybrid approach, but then further down with the 4 diagrams, both the lists and the diagrams describe rather a non-hybrid,

[2018-12-09 12:16] bobvanluijt opened #622 "Documentation refactor"

[2018-12-10 13:15] JeroenStravers1 opened #624 "DataTypeText not implemented in JanusGraph code"
## Background
I kept getting errors at the `DataType Text` property when implementing this property option (when running `tools/schema_loader/schema_loader.go`). I traced this error to `database/connectors/janusgraph`; `DataTypeText` handling was not yet implemented there.

## Current situation
`DataTypeText` uses the same code as `DataTypeString` in GraphQL, so I implemented `DataTypeText` in the

[2018-12-10 13:31] bobvanluijt commented on #624
Hi @JeroenStravers1, can you please add the commit where these files are changed?

The _only_ difference with a string is that they are not indexed, so that's fine for now.

[2018-12-10 13:44] JeroenStravers1 commented on #624
If I remember correctly we should also return an error when DataTypeText is used in a filter. This error throwing should be implemented in the JanusGraph code, where the filters are interpreted. Using a Text property in a filter is currently perfectly legal.

[2018-12-11 12:22] bobvanluijt opened #625 "Create mapping endpoint to visualise the network"
- Create new `/tools/maps` endpoint.
- Show map data from: `zero point position`, `center of self`, `center of other`, `center of concept`.

Results should include:
- Location of concepts.
- things and actions.
- distance to benchmark point.

[2018-12-12 11:17] etiennedi commented on #624
I'm not so sure about this. I think it's business logic, rather than database logic. On a business (API) level, we already say that text can never be indexed and used as a filter. So we can already validate this when parsing the filters. This way it only has to be done once as opposed to in every database connector out there.

[2018-12-12 11:24] etiennedi opened #627 "Update p2p documentation"
It's a bit outdated, still talks about a pure P2P approach as opposed to the Hybrid P2P approach.

Originally we wanted to update the docs as part of #602, but with #622 ongoing in parallel, this would only lead to merge conflicts en masse.

So instead, we're scoping this out from #602 and tackling it in here at some point after #622 is finished.

## Todos
* [ ] seems to be incorrect about Genesis

[2018-12-12 13:48] etiennedi opened #628 "Proposal: Pluggable AuthN/AuthZ"
## Business Background and Requirements
- we need flexibility because we assume every enterprise company has a slightly different Identity/Auth setup
- we want to be compatible with (and prefer) standards and best practices, but at the same time allow highly-customized solutions as well
- we assume different users have different needs for
  - Authentication: LDAP, OAuth2, simple basic Auth...
  -

[2018-12-12 15:33] etiennedi opened #629 "Local.Get with Filter returns error"
Running the following query (copied straight from the docs)
[code]

leads to this error:
[code]

I don't understand the error message. According to the docs (I also double-checked this with @laura-ham), the query should resolve correctly. Therefore labelling as bug.

[2018-12-12 15:39] etiennedi commented on #629
I've emailed @moretea to help clarify what the intention of sending this error message is.

[2018-12-12 16:56] laura-ham opened #630 "GraphQL where filter possibilities"
As @etiennedi noted out correctly, two issues arise regarding the `where` filter implementation of the GraphQL API.

### Or + nested NotEqual operators
First, queries like the following, where an `Or` operator is applied to two `NotEqual` filters are applied will always return all data. This is just basic logic. The question is whether we should provide this option to the user, because using this

[2018-12-12 18:33] etiennedi commented on #630
@laura-ham

Yes, this would be awesome. This would make quite some code that I wrote obsolete, which is always good. Less code => less complexity to maintain. The Network filtering would then really just be a very simple proxying, whereas right now because of having to remove the first element adds the overhead to parse an unknown structure, modify the path array, etc.

So I'm all for this change,

[2018-12-13 07:57] etiennedi commented on #629
The issue is  #565. In the discussion in there there it seems like we want to keep `Thing` or `Action` in the path, but it was just out-scoped at the time because of different decision prior. If so, this bug ticket is valid? Let's maybe first wait for the output of #630 - maybe we introduce new changes there.

[2018-12-13 08:09] etiennedi commented on #630
@bobvanluijt @laura-ham @JeroenStravers1

I've thought about this a bit more and actually I don't see any benefits of keeping the `where` filter at such a high level in any case (also not for `Local.Get`). What keeps us from moving the where filters all the way down to the individual class, like so?

[code]

**What would we lose from this?**
- The ability to combine filters across different classe

[2018-12-13 09:11] laura-ham commented on #630
@etiennedi I've thought about this for a bit more and I think your suggestion seems, for the reasons you mention, the most logical thing to do. I remember when I made the where filter, first I designed this in the way you propose (so the filter on the Class level). But I changed it to allow combinations of filters. Currently I however cannot come up with an example where you should need a combinat

[2018-12-13 09:23] bobvanluijt opened #631 "Update Dockerfile to only use large contextionary on push"

[2018-12-13 10:33] etiennedi opened #632 "Run acceptance tests locally as they would run on CI"
It is currenlty possible to run the acceptance tests locally, but you have to do a long list of things:

---
1. Make sure there is no left-over state from previous runs. I always do `git clean -xf` (warning this will delete all untracked files!!!!) and then `rm -rf data`
2. Start up the whole docker-compose stuff with `tools/test/run_ci_server.sh` This script will block until weaviate is ready
3.

[2018-12-13 14:50] bobvanluijt opened #634 "Create 2 Dockerfiles to speed up testing"

[2018-12-13 15:42] #634 closed

[2018-12-13 15:45] JeroenStravers1 commented on #630
I agree with both of you. As a user it would make more sense to me to apply filtering as close to the actual classes as possible, and I'm a big proponent of consistency in where elements are located. I can't think of any use case that hasn't already been discussed above.

[2018-12-13 15:46] etiennedi commented on #582
will be fixed with #602

Was first confused, then annoyed by this issue and decided to fix it right away.

[2018-12-13 17:10] #632 closed

[2018-12-13 21:32] JeroenStravers1 opened #636 "Schema acceptance test currently not comparing field content length"
## Background
The [schema acceptance test](https://github.com/creativesoftwarefdn/weaviate/blob/develop/test/acceptance/graphql_schema_test.go) launches an introspection query at Weaviate and the prototype and compares all elements in the result. It also checks whether `map` and `array` fields contain the same amount of elements. This test assumes both Weaviate and the prototype contain the [test

[2018-12-14 07:14] JeroenStravers1 opened #637 "Change in Prototype Where filter element name"
Logging changes to the prototype in this issue as discussed with @laura-ham

## Background
The prototype used a single `Where` filter object and passed along a reference to this object where needed. When implementing GraphQL schema generation in GO to match the prototype (as dictated by the [schema acceptance test](https://github.com/creativesoftwarefdn/weaviate/blob/develop/test/acceptance/graphq

[2018-12-14 08:10] etiennedi commented on #636
I agree on the proposed solution: In more detail, each test should insert the data it needs before the "suite", then run all of its tests and eventually clean up everything that they touched upon.

Let's please wait with this until #602 is finished though. I'm currently writing acceptance tests there and already have to refactor quite a bit of the existing tests. If we try to change this at the sa

[2018-12-14 15:45] etiennedi commented on #629
Agree let's not try to fix this before fixing #630. It'll most likely become obsolete because of it.

[2018-12-15 14:57] #602 closed

[2018-12-15 14:57] #582 closed

[2018-12-15 15:07] bobvanluijt commented on #630
First of all, before on of you will do it, the appropriate [link](http://m.memegen.com/bqpzgj.jpg) regarding my €0.02 on this topic.

I'm perfectly fine with this, _however_ I would like to understand the following implications first;
- @laura-ham Can you set this up in the docs and the prototype to keep the tests passing?
- @etiennedi do you have any insights on how much work this would be for yo

[2018-12-15 15:08] bobvanluijt commented on #637
Is this in line with #630 @JeroenStravers1 or another topic?

[2018-12-15 15:09] bobvanluijt commented on #636
Sounds good to me.

[2018-12-15 15:10] bobvanluijt commented on #629
Please see my €0.02 in #630.

[2018-12-15 15:19] etiennedi commented on #630
@bobvanluijt

If I am not mistaken there are four things to change:
1. the graphql structure on `Local`
2. the graphql structure on `Network`
3. the graphql resolvers on `Local`
4. the graphql resolvers on `Network`

My assumption is 1 + 2 is just moving stuff around and making tests pass again, but @JeroenStravers1 would be the export on this, I'd say a few hours max.
For 3+4 we're already resolv

[2018-12-15 15:29] bobvanluijt opened #639 "Add create schema strategy in Docs"
As added to the weaviate-cli tool.

[2018-12-15 15:35] laura-ham commented on #630
@bobvanluijt

Same for me, its mainly moving some stuff, renaming a couple of GraphQL names and fields etc. Then the resolvers will take some more time indeed, but since the idea remains the same it won't take too long.

[2018-12-15 16:32] JeroenStravers1 commented on #637
This is unrelated to [630](https://github.com/creativesoftwarefdn/weaviate/issues/630)

[2018-12-15 16:36] JeroenStravers1 commented on #630
@etiennedi is right, it's a matter of moving code around for me too

[2018-12-15 19:31] etiennedi commented on #609
@bobvanluijt I have started building this feature (i.e. "make weaviate aware of the schemas of all it's peers") as it's in my opinion the logical conclusion of having completed #602.

However, to not over-engineer it I might first built a version that doesn't have the advanced cache-invalidation via hashes sent on every request. But at first, rather rely on the regular genesis pings to broadcast h

[2018-12-16 12:54] bobvanluijt opened #640 "Create docs for Weaviate-cli tool"

[2018-12-17 08:12] JeroenStravers1 commented on #568
Code was merged with develop

[2018-12-17 08:12] #568 closed

[2018-12-17 08:13] JeroenStravers1 commented on #496
Things acceptance test no longer fails

[2018-12-17 08:13] #496 closed

[2018-12-17 08:14] JeroenStravers1 commented on #446
implemented, merged with develop

[2018-12-17 08:14] #446 closed

[2018-12-17 15:05] etiennedi opened #641 "Tests for package "keys" are flaky"
For some reason I've never seen them fail on CI, but locally they do sometimes fail. My most recent failure was

[code]

But I've also seen them fail with `Context deadline exceeded` errors.

This is just to track this technical debt. I'm not convinced yet we should fix them, as that mostly depends on what direction we want to take with our Authentication (see #628)

[2018-12-17 16:16] etiennedi opened #642 "Genesis completely untested"
We don't have any way of verifying whether the genesis works as intended because

- it has no unit tests
- it has no acceptance tests
- it is not used anywhere in our setup, because for better control we must replace it with a fake in our local tests for weaviate

[2018-12-17 17:40] idcrosby commented on #574
https://github.com/creativesoftwarefdn/weaviate/commit/2cdb803a54ce75cc8980850609f35d17ecd0da21

[2018-12-17 19:42] bobvanluijt commented on #628
Some thoughts @etiennedi,

1. Maybe it is smart to remove the key-based system asap. This allows people to use Weaviate asap.
2. I'm all for the proposed setup.
3. We have different authentication for P2P nodes.

[2018-12-17 19:53] etiennedi opened #643 "Fuzzy Search with janusgraph - first version"

[2018-12-17 19:54] etiennedi opened #644 "Resolve Network.GetMeta"

[2018-12-17 19:54] etiennedi opened #645 "Resolve Local.Fetch.{Things,Actions}"
## Todos
* [x] make sure contextionary is re-built after a schema change (#618)
* [x] add querying layer on top of contextionary that allows searching by either class or class+keywords
  * the current setup exposes to many internals (vectors, kNN) that should not spill out of the contextionary package
  * this will make actual querying much easier
  * we are currently exposing the `$[THING]classNa

[2018-12-17 19:56] etiennedi opened #646 "Remove Key Auth"
As discussed in #628 we want to remove the key-based Auth first.

[2018-12-17 19:57] etiennedi opened #647 "Resolve Network.Fetch.Fuzzy"
`Fetch { Fuzzy }` is a comfortable way to search for strings by traditional metrics (such as levensthein distance) and contextionary-aided searches.

# Todos

* [x] extend contextionary with safe search option
* ~~(optional) extend already extracted contextionary in similar fashion~~
* [x] build fuzzy search in gql package (note: this two layered arch isn't optimal, it'd be much better in three la

[2018-12-17 19:59] etiennedi opened #648 "Resolve Network.Introspect"

[2018-12-17 21:05] bobvanluijt commented on #646
Shall I look into this? Also because it is part of the docs

[2018-12-18 09:13] bobvanluijt commented on #646
@etiennedi ⬆️

[2018-12-18 09:14] etiennedi commented on #646
If you have time for this sure :) If not I can also tackle it later. Seems pretty straightforward to me: Delete the package and see where it doesn't compile anymore -> clean up those places.

[2018-12-18 09:30] bobvanluijt commented on #646
Haha, yes, true. It is actually about the docs why I'm asking. So I can work on those a bit further.

I don't think it is a lot of work.

[2018-12-18 16:42] JeroenStravers1 opened #650 "Implement batching create fields parameter"
Set all property values not mentioned in the `fields` parameter to `nil` to save bandwidth usage.

[2018-12-19 09:24] etiennedi opened #651 "Run travis bump script only on develop"
Currently it runs on everything that is not a PR. In turn that means that if we temporarily enable travis for a specific feature branch, it will also bump the version which is not desired.

[2018-12-19 09:55] #651 closed

[2018-12-19 12:18] etiennedi opened #653 "Resolve Local.GetMeta"
it seems this was started, but never finished.

[2018-12-19 12:19] etiennedi commented on #644
This is blocked by waiting for completion of #653

[2018-12-20 09:49] etiennedi opened #654 "Weaviate Panics on incorrect user input on schema import"
Weaviate panics on incorrect user input on schema imports

For example

- when adding a cross-ref that is not a valid className (i.e. doesn't pass the Regex validation rules)
- ... (possibly more, haven't investigated yet)

## Todos:
* [ ] Find all (most common?) occurrences
* [ ] Respond with a correct (error) HTTP response, but don't panic while serving the http request.

[2018-12-21 08:17] JeroenStravers1 opened #656 "Test GQL Network schema"
(made this to track the issue)
## Issue
As @etiennedi stated in his [commit message](https://github.com/creativesoftwarefdn/weaviate/commit/a25537ef078e0e19391007cbaeadbf138642824f) after helping me out yesterday we can no longer detect name duplication in the GraphQL network schema. Debugging errors like these is currently very cumbersome, the acceptance test suite is now our only method of detec

[2018-12-21 10:49] etiennedi commented on #413
Spiking out a happy path (WIP)

# Learnings

## Storing network ref as a vertex

### Add a vertex which we can then reference
[code]

[2018-12-21 11:37] #609 closed

[2018-12-21 11:37] #627 closed

[2018-12-21 11:37] #642 closed

[2018-12-21 14:52] etiennedi commented on #413
## Delivery Roadmap

### Iteration 1: Import Network Cross-Refs
Goal: without manually editing the schema first, we can import (or update) a Thing/Action with a cross-ref to a network instance.

### Iteration 2: GraphQL structure.
Goal: We use all the info about the schema of peers to allow querying cross references on remote schemas. (Resolving is not included yet)

### Iteration 3: Resolve via n

[2018-12-21 15:02] etiennedi opened #658 "Import network cross-references"
## Motivation
As outlined in #413 there is one major UX requirement:

## Goals
The user can import a network cross-ref to any Thing/Action of any instance.

## Todos
* [x] Support Network Refs in the schema
  * [x] Support explicit schema imports that reference network classes
    * it's OK to simply skip over them in graphql for now
    * [x] parse "network string" (e.g. `WeaviateB/Car`)
    * [x

[2018-12-21 15:04] etiennedi opened #659 "Display Network-Cross-Refs in GraphQL structure"
As outlined in #413 ...

[2018-12-21 15:06] etiennedi opened #660 "Resolve Network Cross-References over Network"
As outlined in #413 we want to resolve network cross-refs.

Depends on #659

## Todos
* [x] investigate open `TODO`s for cardinality and ResolveType in Class Union
  * there was an issue in `go-graphql` v0.7.5 -> whenever a resolver returned a thunk, it wouldn't bubble up to the higher resolvers (graphql-go/graphql#340)
* [x] clean up technical debt resulting from go-graphql bug mentioned above

[2018-12-21 15:10] etiennedi opened #661 "Update Network Cross-Ref API design"
As outlined in #413, we want to take some shortcuts to make #660 easier.

Namely we want to use something like
[code]

However, we believe the best API design right now (cc @laura-ham) would be along the lines of
[code]

Since the latter deviates (one more level) from the current recursive resolving we're already doing for local cross-refs, we want to skip this (more nested) design in #660 (in ord

[2018-12-21 20:06] JeroenStravers1 commented on #650
Closing, the PR was merged with dev

[2018-12-21 20:06] #650 closed

[2018-12-21 20:07] JeroenStravers1 opened #662 "implement network aggregate as in the prototype"
selfdescriptive

[2018-12-28 09:30] etiennedi opened #663 "docker-compose up panics after import"
Since CI only uses the `docker-compose-test.yml` it seems we managed to break the `docker-compose.yml` with one of the recent PRs.

We should fix it and also consider if we really need two separate docker-compose files. Maybe they can be combined into one.

## How to reproduce

1. Run `docker-compose up`
2. Wait for the importer to finish
3. Try running a graphql query, it'll fail

## Possible rea

[2018-12-28 13:56] JeroenStravers1 commented on #656
This issue is larger than just name duplication. The schema acceptance test works by comparing the results of an introspection query on the prototype with the results of the same query on Weaviate. The prototype has two peers, which we can no longer spoof locally (a single peer max, as I understand).

The result is that each run of the acceptance test takes slightly under ten minutes. It also appe

[2018-12-28 15:16] #600 closed

[2018-12-28 15:17] JeroenStravers1 commented on #596
This is no longer an issue

[2018-12-28 15:17] #596 closed

[2018-12-28 15:18] JeroenStravers1 commented on #584
Batching endpoints are implemented and documented as discussed. Closing this issue.

[2018-12-28 15:18] #584 closed

[2018-12-28 15:19] JeroenStravers1 commented on #548
GroupBy filter and Aggregation is implemented in Weaviate, closing this issue

[2018-12-28 15:19] #548 closed

[2018-12-28 15:20] JeroenStravers1 commented on #515
Network queries are implemented as in the Prototype. Closing this issue.

[2018-12-28 15:20] #515 closed

[2018-12-28 15:20] JeroenStravers1 commented on #508
Batching is implemented and documented. Closing this issue.

[2018-12-28 15:20] #508 closed

[2018-12-29 16:53] #658 closed

[2018-12-29 17:20] etiennedi opened #666 "replace custom logger with something more standard"
We seem to be using some custom made logger `messages.Messaging`. This logger is not very powerful and there's no need to build a custom logger. We could easily use something like [sirupsen/logrus](https://github.com/sirupsen/logrus).

## Advantages from switching
* A standard interface that makes developing easier
* Ability to configure logger, for example if we need structured logging (very typi

[2018-12-30 09:00] dljcollette commented on #367
Connecting Weaviate to the Playground gives me the following error: ```Response to preflight request doesn't pass access control check: No 'Access-Control-Allow-Origin' header is present on the requested resource. If an opaque response serves your needs, set the request's mode to 'no-cors' to fetch the resource with CORS disabled.```

Could we add CORS URL whitelisting or a wildcard?

[2018-12-30 10:49] idcrosby commented on #666
@etiennedi structured and consistent logging is the most important. Log aggregation is something you add on top of k8s, so you need to support multiple tools.

Custom fields, such as the example you mention, which should appear on all logs can be added as metadata in the kubernetes manifests. Most log aggregation tools can correlate this data to the actual logs.

[2018-12-30 13:17] bobvanluijt commented on #367
They should be set but might have been removed. I’ll reopen this one.

@JeroenStravers1 can you help @dljcollette with this please?
https://github.com/go-swagger/go-swagger/issues/481

[2018-12-31 10:36] etiennedi commented on #630
All parts are completed now including resolving for Local.Get and Network.Get. I'll submit a PR soon to close this issue.

[2018-12-31 10:47] etiennedi commented on #367
By the way, I just verified, the `Access-Control-Allow-Origin` headers are missing on all requests, not just graphql.

*(I used the key/token that can be found in the `docker-compose.yml` - since they aren't secret I've left them in my copy/paste)*

Maybe this middleware doesn't do what we think we do. From what I remember there are two things related to CORS

1. The allow origin headers (as are m

[2018-12-31 10:55] etiennedi commented on #367
## Update: Figured it out

The CORS middleware only sends CORS headers if an origin header is present. If I include one it works fine (see example below). So just make sure you always include the origin on your request:

[code]

[2018-12-31 12:18] idcrosby commented on #574
https://github.com/creativesoftwarefdn/weaviate/pull/667

[2018-12-31 12:18] idcrosby commented on #595
https://github.com/creativesoftwarefdn/weaviate/pull/667

[2018-12-31 14:42] bobvanluijt commented on #367
Aha, that was unexpected.

Can you please add this as a documentation issue for me @etiennedi?

[2018-12-31 14:43] bobvanluijt commented on #367
Can you work with this @dljcollette?

[2018-12-31 15:00] dljcollette commented on #367
Sure, I'll add the origin to the GraphQL client. Thanks guys!

[2019-01-02 17:10] etiennedi opened #669 "GraphQL Error response broken when path contains number"
When the graphql error Path contains a number, we would previously return `HTTP 422 Unprocessable Entity` with an empty `errors: []` response.

For some background see the commit message of a commit that at least doesn't make it silent anymore:

marshalling the entire graphql response to JSON and then unmarshalling
it again into the go-swagger resopnse type. This seems to work fine for
most cases,

[2019-01-03 05:09] dljcollette opened #670 "Missing GraphQL typename for classes"
In order to cache data in Playground, I need to fetch the class GraphQL property `__typename`. The classes in the test data do not contain a typename, which makes it impossible to cache data on the client.

[code]
I would like this to return a typename, just like the GraphQL prototype does:
[code]

[2019-01-03 07:19] dljcollette opened #671 "Rename GraphQL filter typenames"
@laura-ham The typenames for the filter `where` objects are specific to a class, however, the properties of the object seem to be generic. Is this done op purpose? Would it make more sense to either make the typenames generic (more flexibility) or the properties specific to the class (better type safety)?

[2019-01-03 08:08] etiennedi commented on #653
I'm currently working resolving networking cross-refs (#413, #658, #659, #660) with ETA end of this week. I'm planning on taking on this on next, so ETA would be end of next week.

[2019-01-03 08:41] etiennedi commented on #644
As the comment above indicates we would first have to resolve #653 which is scheduled for next week. From Weaviate's perspective resolving `Network.GetMeta` is mostly just proxying to the remote instance from which perspective it'll be a `Local.GetMeta`. So my initial thought is that this'll be very cheap to build once we have this for Local requests.

[2019-01-03 11:41] dljcollette commented on #671
Sure! For example, when looking at `BuyAction` and `Flight` action in the GraphQL schema, they have their typenames for the `where` field defined as `WeaviateLocalGetActionsBuyActionWhereInpObj` and `WeaviateLocalGetActionsFlightWhereInpObj`. However, the properties of these objects are equal:
[code]

[2019-01-03 12:49] idcrosby commented on #608
https://github.com/creativesoftwarefdn/weaviate/pull/672

[2019-01-03 12:49] idcrosby commented on #595
resolved via above PR

[2019-01-03 12:49] #595 closed

[2019-01-03 12:50] idcrosby commented on #574
resolved via above PR

[2019-01-03 12:50] #574 closed

[2019-01-03 14:59] JeroenStravers1 commented on #671
True, I had to change the names for the where, operator and operands elements to keep a pre-existing test from failing. They were generic before.

I'm fine with renaming the other properties (valueX) to something more specific, but making the names for where, operator and operands generic won't work.

[2019-01-03 16:28] idcrosby opened #674 "Add healthcheck endpoint(s) to Weaviate"
Weaviate should have a simple healthcheck endpoint which external platforms (e.g. Kubernetes) can use to determine when the application is healthy and ready to receive traffic.

[2019-01-03 16:37] etiennedi commented on #674
Proposal:
* `/.well-known/live` -> 204 as soon as the API is able to handle any request
* `/.well-known/ready` -> 204 when startup routines have completed successfully

*Question*: Should we check whether the backing db is reachable as part of the readiness checks?
*Pro*: there's no point in operating weaviate without a backing db. So let's say a new version somehow destroys the db-connector, it w

[2019-01-03 16:54] idcrosby commented on #674
@etiennedi very good question. As you point out, in terms of best practices we should not rely on downstream dependencies for health checks, risks of cascading failures, etc. However in a scenario where we have multiple instances running and one (for whatever reason) cannot connect to the db, it would be nice to avoid sending it traffic.

So I could see an argument for both cases, but I agree with

[2019-01-04 11:10] laura-ham commented on #560
I've added some examples in the open api documentation.

A few questions/issues raised:
-	Key object in Get Things, is that the key of the user or the uuid of the Thing?
- 	Cannot add examples for parameters (result in error)
-	Patch value is always an object (so always a reference)? Can't it be just a string/number etc?
-	Cannot remove 'from' from the body of Patch in the example body
- 	Example

[2019-01-04 12:33] bobvanluijt commented on #560
Hi @laura-ham, sure, we can go over them, already some feedback per bullet;

1. That is the key of the user. _However_ we will remove keys completely in the near future (cc: @etiennedi )
2. Can you share the exact error or how to reproduce it?
3. Yes
4. Can you share the exact error or how to reproduce it?
5. See bullet 1.
6. Can you share how far you've gotten?
7. I'll update this one, it is new

[2019-01-04 12:34] laura-ham opened #675 "fix string return as type in GetMeta query GQL prototype"
string is not returned as datatype in GetMeta functions in the GraphQl prototype

[2019-01-04 12:39] #675 closed

[2019-01-04 13:11] #608 closed

[2019-01-04 13:30] #629 closed

[2019-01-04 13:34] bobvanluijt commented on #671
Please do so @JeroenStravers1 but also align with @laura-ham (for the prototype) and @etiennedi (for potential impact on the implementation).

[2019-01-04 13:48] bobvanluijt commented on #663
What does "import" mean in this context?

[2019-01-04 13:50] etiennedi commented on #663
Running the importer script which imports the demo schema and vertices.

I think this issue can be closed though. I tried to reproduce it yesterday towards EOD and noticed that I simply had an old (cached) weaviate container. After rebuilding it all was fine. So most likely after some more investigation we'll find out this was just user error and not an actual bug.

[2019-01-04 13:54] bobvanluijt commented on #663
Ok, I'll close it @etiennedi.

Reason for asking was that I want to move importing to the CLI tool asap.

[2019-01-04 13:54] #663 closed

[2019-01-04 13:54] #660 closed

[2019-01-04 14:18] etiennedi commented on #663
@bobvanluijt do we have an issue for that yet? What's the overall strategy for **how** the cli tool should handle importing. My thoughts are:

* Importing is non-trivial because of local cross-refs. You can't cross-ref something that isn't there, so that's why currently both the go-import script as well as the nodejs verification script first import every thing/action class without properties. The

[2019-01-04 15:49] etiennedi commented on #661
Update: The original statement might no longer be true. I'm out of office today, so I'll give some more detailed reasoning later. In short the `WeaviateB__Instrument` might actually be the preferred way because of easier to handle responses. (For details those of you with access to the SeMI slack channel can see my most recent video in the general channel).

I'll also update here in more detail at

[2019-01-05 21:27] bobvanluijt opened #676 "Set correct hostname in /meta endpoint"
On the Weaviate `/meta` endpoint.  The hostname should be formatted as: `weaviate+[SCHEMA]://[NAME]`. For example: `weaviate+http://weaviate-b`.

This is needed to determine what the name of the host Weaviate is, for example during importing.

[2019-01-05 21:27] bobvanluijt opened #677 "Update location type in schema-specs and implementation"
Relating to the P2P network and how we display the location of a concept.

**Current:**

[code]

**New:**

[code]

Where `weaviate-a` also can be `localhost`.

**Important:**

This should also be reflected in the open-api schema and while creating concepts (id est, things or actions).

[2019-01-05 21:30] bobvanluijt commented on #677
@laura-ham: FYI, can you take this into account in the prototype?
@dljcollette: FYI, does the above have an impact on your work?

[2019-01-05 21:53] #607 closed

[2019-01-05 22:30] #425 closed

[2019-01-05 22:30] #367 closed

[2019-01-05 22:31] #469 closed

[2019-01-05 22:37] #606 closed

[2019-01-05 22:43] #590 closed

[2019-01-05 22:44] #485 closed

[2019-01-05 22:44] #597 closed

[2019-01-07 17:14] etiennedi commented on #677
@bobvanluijt

The above actually contains two changes with somewhat different implications:

## Systems affected / Effort to change

**Change 1: Merge location into `$cref`**
This change is straight-forward, we just have to parse one field instead of two, extract the right info in a few places, adapt all our test data, etc. This should be less than a days work. However, I do some conceptual input,

[2019-01-07 18:13] bobvanluijt commented on #677
Thanks for the detailed feedback @etiennedi. Also agreed with your points.

To answer your questions in one; I really like `weaviate://weaviate-a/things/cfd0b3ea-9128-4fe5-a024-b7e68fe22206` because it is in line with the schema.

[2019-01-07 18:14] etiennedi commented on #677
Awesome, great to hear. This will move to No.1 on my priority list, then.

[2019-01-08 09:57] etiennedi commented on #653
@dljcollette FYI, I'm starting on this now.

Here's also a copy of my messages on Slack. Since the scope of `GetMeta` is not small it would be great to prioritize the sub-features within, to make sure we have something usable as early as possible.

Hey, thanks for your input. You seem to be using every feature of GetMeta indeed. I’m still trying to look for ways to cut this smaller to make sure we

[2019-01-08 15:40] dljcollette commented on #677
@bobvanluijt will this impact the GraphQL schema or is this a reference for the GraphQL resolvers?

[2019-01-09 10:07] etiennedi opened #678 "Batch import fails with property of type Number"
This issue is mostly to track the fix:

Copy paste from Slack for context:

Hello, I just tried out the batching feature to try and create things and I think a found a bug: As soon as any of the properties contain a number, the requests fail with:
[code]
The error message itself is actually submitted from the janus graph connector, so I did some more digging.

The thingclass the batching endpoint

[2019-01-09 10:15] etiennedi commented on #678
**Important:** The linked PR is a rather pragmatic fix that only fixes this issue to unblock me with using the batch endpoint on our Kubernetes setup.

It is not a proper bug-fix in that it does not involve any investigation into where exactly the issue originates or in what other places it can occur. It also doesn't add any new tests to prevent the issue from reappearing.

I would not be surprise

[2019-01-09 10:16] etiennedi commented on #678
cc @JeroenStravers1 @bobvanluijt

[2019-01-09 12:48] etiennedi opened #680 "Apply where filters in Janus, not in Go binary after retrieval"
## Goal
Use Gremlin capabilities of Janusgraph to apply the `where` filters we get from the user via GraphQL.

## Background
The current implementation seems to always query all results from weaviate and then apply the filters later in Go, see https://github.com/creativesoftwarefdn/weaviate/blob/77c47eba099651c2d122a3902292ef49b945924f/database/connectors/janusgraph/resolver_get.go#L88-L90

~~My a

[2019-01-10 11:44] etiennedi commented on #617
Added the "Bad UX" label, because currently when a db request fails, the user doesn't get any resonse at all. Instead we panic and never return the request, i.e. the user gets something like EOF.

Example:
![image](https://user-images.githubusercontent.com/8974479/50966474-4e8d8d80-14d5-11e9-9fc8-9e1442619975.png)

All the user will see is something like `(*url.Error)(0xc0005022a0)(Post http://loc

[2019-01-12 11:00] laura-ham opened #682 "GetMeta reference-count results null in prototype"
[code]
now results in
[code]

[2019-01-12 11:17] #682 closed

[2019-01-12 22:11] #680 closed

[2019-01-15 10:11] etiennedi opened #683 "Enable pagination filter for Local.GetMeta.<string/date>.topOccurrences"
After #653 the list is simply hard-coded to always get `3` results. With this issue it should be made configurable through the filter design as outlined in the prototype.

This was removed from #653 to reduce the scope a bit.

[2019-01-15 13:23] etiennedi opened #684 "Don't wait for consistency on imports"
By default Janusgraph tries to achieve consistency on imports. With Cassandra as a backing db this might slow down the imports substantially.

Slow importing is currently an issue, so this should be a good way to address it.

However, when testing this out in a first try, importing was broken alltogether. Details on the `janusgraph` setting can be found here: https://docs.janusgraph.org/latest/bul

[2019-01-15 13:32] etiennedi opened #685 "Support horizontal scaling of weaviate"
## Goal
To support very large workloads we want to make sure weaviate can be scaled horizontally

## What's preventing us?
Weaviate is mostly a stateless application, however, at the moment two things are keeping us from achieving horizontal scalability:

1. Weaviate writes into the local file system. These files describe the schema state of the database. If a database has already been initialized

[2019-01-16 08:59] #684 closed, assigned to nobody

[2019-01-16 12:06] etiennedi commented on #677
@dljcollette This should have no influence on the the graphQL schema, it should only affect how `Things` and `Actions` are added to weaviate (and updated).

[2019-01-16 12:42] etiennedi commented on #677
## Todos

* [ ] update importer script to new format and see where it crashes
* [ ] fix all places where it crashes
  * sub-items to be added here once I know more
* [ ] deal with "capitalization conflict" (no rights reserved on this awesome name
  * To quote on mself on what this is about:

refProps, such as "InCountry". On user-facing parts we have them
uppercased, but on schema imports (and the

[2019-01-17 16:40] etiennedi commented on #677
@bobvanluijt  This is technically complete, but it wasn't possible to complete this without starting to remove the Key-Auth (see #646) already in parts. So I'll now move on to #646 and then create a PR for both instead of trying to merge it already now.

[2019-01-19 11:25] #677 closed, assigned to etiennedi

[2019-01-19 11:28] bobvanluijt opened #688 "minor maintenance updates"
Minor updates that do cover the whole codebase

- [x] increase dates
- [ ] remove `getGraph()`.
- [x] update header
- [x] update go-swagger
- [x] update license deps

[2019-01-22 11:01] etiennedi commented on #645
@laura-ham @bobvanluijt Network Fetch is among the features I could tackle next and I have some questions.

Using the example from the Docs:
[code]

1. How much of the matching is due to the user specifying attributes vs calculating based on Contextionary values. For example, the query above states `A class called "Animal" or with the keyword "Mammal" with a weight of 0.9`. Do I understand it corr

[2019-01-22 12:14] etiennedi commented on #645
Yes, thanks definitely, some follow ups:

1. What you write makes sense, but I don't understand yet what the point of the `keywords` is then. Could you give me an example for a result both with keywords and without keywords specified and highlight the differences? Or maybe outline in what order which specified fields (`certainty` vs `keywords`) are evaluated?
2. got it, thanks
3. got it, thanks
4.

[2019-01-22 12:23] etiennedi opened #693 "Resolve Local.Aggregate"
## Description
Resolve the GraphQL Responses for Local.Aggregate based on grouping parameters

[Related Documentation](https://github.com/creativesoftwarefdn/weaviate/blob/develop/docs/en/use/graphql_grouping.md)

## Todos
* [x] switch structure in GraphQL API (from `aggregatorFn->property` to `property->aggregatorFn`)
  * [x] local
  * [x] network
* [x] extract desired selections from graphQL in

[2019-01-22 12:34] etiennedi commented on #693
@laura-ham

I have a few questions on `Local { Aggregate {} }`:

Using this example
[code]

1. What would a sample response look like, the prototype didn't return anything for this query unfortunately? I could imagine the following response, would this be correct?

[code]

2. What's the motivation (this could be explained by answering question 1 as well) behind having the tree structure like `Clas

[2019-01-22 14:23] laura-ham commented on #645
I think the keywords are extra information for the user to put in the query. If you want results about airplanes, and you can put in `Plane` as classname. But because you know (as a user) that the word `plane` is ambiguous (with meanings like Airplane or Level/surface), you can add keywords you know that are associated with the kind of `plane` you mean. So in the case of airplane this could be `Ai

[2019-01-22 14:33] etiennedi commented on #645
Thanks, the explanation helps. I didn't think of disambiguation before. However, I'm still not quite sure at what point the keywords should be applied while resolving a `Fetch` query.

Using your example above what would happen in either Scenario?

### Scenario 1: no keywords
User says `Plane` with certainty `0.8`.

Q1: Which classes do we return?
Q2: How did we determine whether to include or exc

[2019-01-22 14:42] laura-ham commented on #693
1. It is correct that the prototype doesn't return anything on `Aggregate{}` queries. I made the query design, but not the implementation with data. Sorry that I haven't been clear in the docs, in stating what the result would be.. Your guess is right thought ;)
2. Fair point. It was designed like this to stay closest to some Grouping/Aggregation functions I got inspired by when designing this fun

[2019-01-22 14:46] etiennedi commented on #693
Thanks!

1. No worries, happy that I figured it out correctly.
2. From my initial research on how do to this with janus/gremlin, we'd get a flat list from janus graph back anyway (something like `population__max`, `population__min`, `area__max`, `area__min`) so the "unflattening" would happen in our code anyway. The upside of that is we'll be quite flexible in how we want to group it for the Graph

[2019-01-22 14:50] jeroenstraverskpn commented on #693
It should be fine to switch them imo. I reread our Slack history to be sure but couldn't find anything regarding the order of these elements

[2019-01-22 19:23] laura-ham commented on #693
Okay thanks both. To keep consistency between GetMeta and Aggregation, I will change the design of Aggregate accordingly.

[2019-01-22 19:25] laura-ham opened #694 "Swap function and property level in Aggregation function around"
See issue #693 for reasoning and details.

- [x] Prototype
- [x] Go implementation
- [x] Documentation

[2019-01-23 08:39] etiennedi commented on #694
I'll do the changes in the go code as part of #693, already added it as a task item there. Nevertheless, still good to track it here as well, I'll make sure to tick off the box when I'm done.

[2019-01-23 12:13] etiennedi commented on #694
Go implementation has been changed for both `Local { Aggregate }`, as well as `Network { Aggregate }`. The changes will be merged with the overall PR for #693 and can currently be found on the branch `feature/local_aggregate`:
<img width="820" alt="screenshot 2019-01-23 at 12 57 54" src="https://user-images.githubusercontent.com/8974479/51605800-61aa4f80-1f10-11e9-853f-1fb2bf64d121.png">
<img widt

[2019-01-23 12:55] etiennedi commented on #693
@laura-ham while we are now much closer to `GetMeta` in structure we still have two names for the same kind of meta/aggregator function, such as

* `maximum` vs `highest`
* `minimum` vs `lowest`
* `average` vs `mean`

Should we also adjust those to each other? If so, I think I'd prefer keeping the names we have in aggreagate (`maximum`, `minimum`, `mean`) etc, they sound "more professional" to me.

[2019-01-24 13:41] etiennedi opened #695 "Add "median" aggregator functionality to Local.Aggregate"
In #693 we added all aggregation functions for the janusgraph connector, except a single one: `median`. This is because I couldn't find any resources on how to do that with Gremlin.

This is the follow-up issue to prevent the other issue from being blocked.

Possible Remedies
*  more in-depth search
*  ask external Janusgraph/Gremlin experts

Once we know how to do this, the fix should only be a v

[2019-01-25 10:18] etiennedi commented on #685
# POC with `etcd`

## Questions to be answered
* Can we use `etcd` to replace the file-system writing?
* Can we use `etcd` to replace the locking mechanism?
* How big of a challenge is it?
* What new problems arise that we have to tackle?

## Todos
* [ ] include `etcd` in `docker-compose`
* [ ] try out locking mechanism as independent spike
* [ ] try saving/reading one of the files in etcd instead

[2019-01-27 16:13] laura-ham opened #696 "Change GetMeta lowest/highest/average naming"
As @etiennedi proposed in https://github.com/creativesoftwarefdn/weaviate/issues/693#issuecomment-456791194, the GetMeta queries for `lowest`, `highest` and `average` should be changed to `minimum`,  `maximum`,  and `mean` respectively to maintain consistency and professionality.

- [x] Implement in prototype
- [ ] Implement in Go/Weaviate
- [x] Documentation

[2019-01-28 14:19] etiennedi commented on #641
closing as `keys` package (and its tests) have been removed

[2019-01-28 14:19] #641 closed

[2019-01-29 12:48] #644 closed

[2019-01-29 15:00] etiennedi opened #697 "Respect Context in Database Connectors"
As part of #685 we discovered that interaction with `etcd` is always context-dependent. This is a good pattern in the `etcdv3` client.

## What is context?
`context` is a simple construct in Golang, that helps "organize" nested call stacks. Contexts can be cancelled and can have timeouts. This helps someone down in the nested call stack to a) cancel something that takes to long if they run out of

[2019-01-29 17:58] #693 closed

[2019-01-29 21:16] bobvanluijt opened #699 "monitoring service"
# Description

The following needs to be sent as an https POST to a _to be determined_ HTTPS endpoint;
1. Information per API endpoint _except_ the `/graphql` endpoint.
2. Information per GraphQL function + aggregation function

# Sending an Object

With an interval of 300 seconds, the following object needs to be sent out;

[code]

### Legend

1. n = name
2. t = type
3. i = identifier
4. a = amou

[2019-01-30 00:24] bobvanluijt opened #700 "Keep connectors folder for connectors"
In [this](https://github.com/creativesoftwarefdn/weaviate/tree/develop/database/connectors) I would like to keep _only_ the connectors.

@etiennedi What would be a reason _not_ to move `listing` and `utils` one dir down?

[2019-01-30 00:31] bobvanluijt commented on #700
@etiennedi in case agreed please merge: https://github.com/creativesoftwarefdn/weaviate/pull/701 when "green".

[2019-01-30 12:06] #700 closed

[2019-02-03 14:30] bobvanluijt commented on #661
Curious to know what the status is here @etiennedi

[2019-02-04 09:19] etiennedi commented on #661
This one has become obsolete. We thought at first that the proposal above would make it easier to use, but in fact that's not the case. The general feedback (on Slack) was that the version we already have is not just sufficient, but in fact preferred. Therefore closing and not changing anything.

[2019-02-04 09:19] #661 closed

[2019-02-04 10:36] etiennedi commented on #685
@bobvanluijt The PR (#702) is now ready :)

[2019-02-04 15:59] #685 closed

[2019-02-04 15:59] #696 closed

[2019-02-04 19:46] bobvanluijt commented on #661
check

[2019-02-04 19:47] bobvanluijt commented on #645
Thanks, let me know if you get stuck here @etiennedi and @laura-ham.

[2019-02-04 19:47] bobvanluijt commented on #685
wonderful

[2019-02-04 20:38] #688 closed

[2019-02-05 12:52] etiennedi commented on #618
@bobvanluijt I did some digging as part of #645 and I think I understand what this issue is about:

## Background
@moretea has build some code that extends the contextionary (as we read it from the file) based on the current schema.

* The added items have the format`$kind[className]`, e.g. `$thing[City]`
* If a class has keywords specified, the code calculates the weighted centroids from keywords

[2019-02-05 13:08] etiennedi commented on #645
[This finding](https://github.com/creativesoftwarefdn/weaviate/issues/618#issuecomment-460626928) might be another argument pro "every peer uses their own contextionary", as it would reduce the overall complexity: https://github.com/creativesoftwarefdn/weaviate/issues/618#issuecomment-460626928. However, it's not a very strong argument, so if we find a strong argument against this distributed appr

[2019-02-05 20:12] bobvanluijt commented on #618
I see @etiennedi, what is important is that camel case plays an important role in keyword and class name definition, this is outlined [here](https://github.com/creativesoftwarefdn/weaviate/blob/develop/docs/en/use/ontology-schema.md#CamelCase).

[2019-02-06 09:05] etiennedi commented on #694
@laura-ham I think we can close this or is anything still missing?

[2019-02-06 09:37] etiennedi commented on #618
Thanks, @bobvanluijt, I've included that info into the task list in #645. Closing here, since there's now some duplication.

[2019-02-06 09:37] #618 closed

[2019-02-06 13:19] laura-ham commented on #694
I think we can close it!

[2019-02-06 13:19] #694 closed

[2019-02-06 16:05] etiennedi commented on #554
#645 adds the validation as proposed in suggestion 2 for querying for weights. We could should add the same for imports. I wasn't previously aware of this issue, but it's very much connected to #645 - maybe I can solve it as part of that, too.

[2019-02-07 16:39] bobvanluijt commented on #645
Oef, this is a difficult thing. Currently, I communicate that Weaviate networks _should_ have a similar contextionary.

[2019-02-07 16:57] etiennedi commented on #645
@bobvanluijt I meant, each peer should use the local contextionary to run the queries/searches against (rather than the querying peer running the searches for all peers). This still assumes all contextionaries are more or less in sync.

[2019-02-08 09:44] laura-ham opened #705 "Remove 'Not' operator in GraphQL 'where' filters"
Quote from @etiennedi (retrieved from Slack):

`{operator: Not, operands:[{operator:GreaterThan, valueInt: 1e6 path:["population"]}, {operator:equal, valueString:"Amsterdam", path: ["name"]}] }`

There are two ways to interpret this query:
1. Give me all the cities, which match the following conditions: not greater than 1m, not called Amsterdam -> we would retrieve all cities other than Amsterdam

[2019-02-08 10:03] bobvanluijt opened #706 "OW NO! The robot emoji is gone in Travis!"
![image](https://user-images.githubusercontent.com/5509162/52471417-23a85f00-2b91-11e9-9d48-8217f8bf27e1.png)

[2019-02-08 10:04] #706 closed

[2019-02-09 12:09] bobvanluijt opened #707 "Lodash has a security vulnerability in the prototype"
See: https://github.com/creativesoftwarefdn/weaviate/network/alerts

Probably updating to the latest version is enough.

[2019-02-09 12:10] laura-ham commented on #707
@bobvanluijt for me this link leads to a 404 page..

[2019-02-09 12:57] bobvanluijt commented on #707
@laura-ham [this dep has a vulnerability](https://github.com/creativesoftwarefdn/weaviate/blob/develop/graphqlapi/prototype/package.json#L19) and should be updated to the latest version.

[2019-02-09 17:37] laura-ham commented on #707
@bobvanluijt I updated the lodash (and other packages) to the latest version. Since I could not see where the security vulnerability came from, I can't check if this is resolved now. I assume so, but can you confirm this in close this issue accordingly?

[2019-02-11 13:50] rafaelcanalesduron opened #708 "Count number of calls to the API"
There is a feature in the playground where we need will count the number of calls to the API per interaction and show them. Is this something that will be built into the API?
@etiennedi @laura-ham @bobvanluijt
https://github.com/SeMI-network/playground/issues/60

[2019-02-11 17:09] etiennedi opened #709 "Resolve Network Fetch.{Things,Actions}"
This was originally the scope for #645, however, we then decided to build a local fetch first. In turn we have outscoped everything related to network queries to this issue.

## Todos
* [x] build graphql layer
* [x] extract common filters (local,network) into independent package
* [x] build network layer (aggregate from all peers)
* [x] verify end-to-end

[2019-02-12 17:33] etiennedi opened #710 "Calculate "result certainty" in fetch queries"
The `Fetch {}` implementation done in #645 does not currently return a certainty of a found result. This is because we don't have a model on how to calculate this

## Todos
* [ ] design simple model how certainty in result should be calculated (@laura-ham)
* [ ] implement model (@etiennedi)

[2019-02-12 17:37] etiennedi commented on #708
Hi @rafaelcanalesduron,

I think I need a bit more context here, I don't quite understand what the feature request is yet.

From what I understand from the linked issue, a playground "interaction" can be made up of multiple API calls. The user should be made aware how many where required. If that's the case I think the only party that could actually count the calls would be the playground itself a

[2019-02-12 18:45] etiennedi commented on #554
FYI: Hasn't been tackled as part of #645 because that issue was already very big on its own, so we need to keep this open.

[2019-02-12 18:45] etiennedi commented on #618
As planned, this was tackled in #645 and will be included if the respective PR is merged.

[2019-02-12 19:38] etiennedi commented on #678
Reopening because it also fails for int :)

[2019-02-13 09:09] etiennedi opened #712 "Contextionary 0.5.0 broken"
Contextionary version 0.5.0 leads to import errors even if the words should be in the contextionary:

<img width="2081" alt="screenshot 2019-02-12 at 17 22 15" src="https://user-images.githubusercontent.com/8974479/52699983-495dab80-2f77-11e9-88d5-9aec5f0a7754.png">

We are planning on introducing a few short-term workarounds. This issue is mainly meant to keep track of them until the root cause i

[2019-02-13 10:05] #678 closed

[2019-02-13 10:52] etiennedi opened #713 "Validate scaling capabilities"
This is to track all changes around the scaling validation task. We want to find out if each component scales as well as we assumed.

## Todos
* Improve Importing speed to a more reasonable amount
  * [x] POC different batch importing strategy
  * [x] turn POC code into production quality
  * [x] gather further best practices around batch importing (external help)
    * batching `g.AddV()` togethe

[2019-02-13 12:52] rafaelcanalesduron commented on #708
What we are assuming is that providing users with the number of calls would give them an idea of how much they are consuming from the API (therefore an idea about costs).

We haven't defined what an interaction in the playground in this context is yet. You're right, an interaction can be made up of multiple API calls. This is something that Dominique would know more about since he is using the API

[2019-02-13 20:04] #645 closed

[2019-02-14 07:56] etiennedi opened #715 "Optimize index creation for large graphs"
During a first run with larger graphs in production-like settings we experienced issues around indexing. Most notably we could see that Elasticsearch (which we thought to be configured as an indexing backend) was completely empty. (related #713)

The goal of this issue is to evaluate the best practices for our use cases and improve our indexing strategies so we can reach good overall usability on

[2019-02-15 09:43] laura-ham commented on #710
We have a few variables:
- The certainty of the returned class, based on the classname and its keywords
- The certainty of each property, based on the property name, it keywords, and the value.

We could calculate the final certainty in the reverse way we calculate distances out of the given `certainty` in the query. So that means that we need to calculate the distance between de returned Things/A

[2019-02-15 09:52] laura-ham commented on #710
Also, what comes to my mind now is that the `certainty` in the query filter has a different meaning than the `certainty` in the query result. In the filter it means how certain _you are_ that a class/prop is named like this, while the result is more like a _match rate_. So the user cannot specify what the minimal certainty of the result should be, only how certain the user is.
This is just a rando

[2019-02-15 19:59] laura-ham opened #716 "Add service-Ids to Swagger open API specs"
Add service IDs to the Swagger document as defined.

[2019-02-15 20:05] #716 closed

[2019-02-16 11:36] bobvanluijt commented on #707
@laura-ham yes, it is resolved!

<img width="767" alt="screenshot 2019-02-16 at 12 36 03" src="https://user-images.githubusercontent.com/5509162/52899176-73b5a000-31e7-11e9-928c-97726c630178.png">

[2019-02-16 11:36] #707 closed

[2019-02-16 12:03] bobvanluijt commented on #708
The goal is very straight forward. Every time a Playground is rendered (or the user changes something in the frontend), the UI does an x-amount of calls to the Weaviate API. Those ones we want to count. Adding this to the API would be the wrong way around because it can't know how much

[2019-02-16 21:51] bobvanluijt opened #717 "Allow Weaviate to download Contextionary from URL"
Provide Weaviate with a URL or path to the contextionary except to path alone.

[2019-02-18 07:57] etiennedi opened #719 "Introduce Spark for OLAP with Janusgraph/C*/ES setup"
In #713 we have shown that around the 10k vertices mark, analytical queries without an external bigdata tool already start failing.

With Spark we hope to raise that limit by several orders of magnitude

## Todos
* [x] Spike out Spark setup with `docker-compose` and gather learnings
  * exact version matching is very important
    * we cannot use janusgraph 0.2.0 with the jars copied from 0.2.2 fo

[2019-02-18 19:31] JeroenStravers1 commented on #699
Function calls will be logged in a hashmap (access controlled via mutex). This allows for flexibility in adding/editing request types.

Should performance become an issue then there are options for optimization, like using a rw-locked hashmap for each main request type (localget, networkget, networkgetmeta, etc). This would mean that we'd lose some flexibility in changing request types.

[2019-02-20 08:09] etiennedi opened #720 "Add Caching layer for OLAP queries"
## Todos

* [x] Upgrade Janus to 0.3.x
* [x] Build Java analytics service
  * [x] setup CI/dev environment
  * [x] take query and request id in request body
  * [x] store different events in etcd
    * [x] starting
    * [x] finished
    * [x] failed
  * [x] add acceptance test
  *  ~~add CI pipeline to push to dockerhub~~ (outscoped to https://github.com/semi-technologies/janus-spark-analytics/is

[2019-02-20 08:10] etiennedi commented on #720
should be tackled after #719

[2019-02-20 08:12] etiennedi commented on #715
So far, the new mixed index seems sufficient. Closing for now. We haven't run any tests yet with plenty of cross-refs. So there is a chance that we might need to touch indexing strategy again when we want get there. This can be a separate issue.

[2019-02-20 08:12] #715 closed

[2019-02-20 08:16] etiennedi commented on #708
Agree, the API is stateless and not aware of any sessions. Additionally there's no way of knowing from the backend whether an isolated call belongs to "UI Interaction 1" or "UI Interaction 2". So, this would only be possible client-side.

Closing this one, so you can take the discussion to the playground project. Feel free to reopen if I misunderstand anything and we do need an API-side implementa

[2019-02-20 08:16] #708 closed

[2019-02-20 10:39] etiennedi commented on #720
Decision log from Slack conversations between @bobvanluijt and me:

## Question: Do we need a flag to turn caching off?
### When might users not want caching?
* If they have an inmemory connector for "small, but fast" graphs
* If they know their graph is small enough that it can calculate OLAP on the fly regardless of the connector type

### Decision:
* We will introduce a flag to turn "caching fo

[2019-02-20 11:33] bobvanluijt opened #721 "Improve docs (FAQ, getting started, readme)"
self-descriptive

[2019-02-20 16:16] etiennedi opened #723 "Refactor restapi package: Split up into subpackages and improve handling of app-wide state"
There are two major problems with this package:
* It's way to big and touches upon many concerns that can be decoupled very well by using subpackages, similar to how we've done this for [the new batch api](https://github.com/creativesoftwarefdn/weaviate/tree/a4340b5b3ea8b1d2770b316509367bc4cc5f96e6/restapi/batch)
* There are package-wide global variables everywhere and it's impossible to deduce th

[2019-02-20 16:22] bobvanluijt commented on #723
Please bear in mind the role of the `weaviate_config.go` file. You want to always keep that one for go-swagger.

[2019-02-20 16:26] etiennedi commented on #723
Do you mean `configure_weaviate.go`? That's fine it'll be what ties the subpackages together in the end. That's already how it's done for the new batch subpackage as well.

See

https://github.com/creativesoftwarefdn/weaviate/blob/ad43baf230ac24dbd5af1ca572242ae73ad999ef/restapi/configure_weaviate.go#L205

and

https://github.com/creativesoftwarefdn/weaviate/blob/ad43baf230ac24dbd5af1ca572242ae73a

[2019-02-20 19:47] bobvanluijt commented on #723
👌

[2019-02-20 19:55] etiennedi commented on #612
## Todos

* [x] for GraphQL `Local Get`
* [ ] for REST API
* [ ] refactor duplication in `helpers.go` in `janus` package

[2019-02-21 07:49] etiennedi opened #724 "Improve Contributor (technical) docs"
This is a reminder to myself so put down some contributor facing docs about some concepts that might be explained well in the code, but not from bird's eye view in the contributor docs

## General Topics
- [ ] Distributed Locking: Why and How
  - [ ] Also explain that a (non-batch) `CreateThing/Action` can be a schema-modifying query because of the Network-Cross-Ref feature
- [ ] Caching strategie

[2019-02-21 07:55] etiennedi commented on #724
@bobvanluijt One suggestion to my question above: Create a new `docs` subfolder in the specific connector with it's own `index.md`. Link that one from the overall contributor docs index page.

[2019-02-21 08:07] bobvanluijt commented on #724
Hi @etiennedi, I would prefer to keep everything in the docs folder. In this case it would be the contribute sub-folder.

[2019-02-21 08:08] etiennedi commented on #724
Also fine with me, in this case I'll just create a `janusgraph` sub-folder in the existing `contribute` subfolder. :)

[2019-02-21 13:26] etiennedi opened #725 "Local cache of schema state means horizontal replicas are out of sync after a schema change"
The schema state is no longer managed in `weaviate` itself, but in `etcd`. However, there seems to be a local cache of the schema state as well, because changes aren't immediately propagated to other instances.

## Solution
fix this

## Workaround Alternative 1:
1. Scale weaviate to 1 replica
2. Make schema changes
3. Scale weaviate up to desired no. of replicas

## Workaround Alternative 2:
1. Sc

[2019-02-21 14:40] JeroenStravers1 opened #726 "Feature flag location for Monitoring Service"
### Issue
I put the monitoring service feature flag in `tools/dev/conf.json` and I'm encountering an "issue" in the way reading the config file is handled (it's not wrong, it just doesn't suit my needs).

Really short version: the config (and thereby my flag) is only accessible at runtime as which config environment is chosen relies on command line args. Since all monitoring functions check the st

[2019-02-21 14:52] etiennedi commented on #726
No, there has to be a better way :)

Most likely this can be solved with a fake for the config. Let's say you have a root type like this

[code]

your type depends on the config being present so let's add it as a field
[code]

Let's say you also have a constructor function to assert that your Monitoring type can never be created without the required deps:

[code]

Now you can use your constructur

[2019-02-21 14:59] JeroenStravers1 commented on #726
This helps very much, thank you!

[2019-02-21 14:59] #726 closed

[2019-02-21 15:02] etiennedi commented on #726
Some more background on how I got to the above solution: Effectively this is a classicist vs mockist problem (for testing there's always a suiting [Martin Fowler article](https://martinfowler.com/articles/practical-test-pyramid.html#SociableAndSolitary) somewhere ;) )

By writing the stuff in the file you'd basically need the classicist way of unit testing, i.e. you'd need to process the file from

[2019-02-21 15:08] etiennedi commented on #726
One more note:

This bit is oversimplified:
[code]

In real life the structure would be `WeaviateConfig.Environment.Monitoring`, instead of `WeaviateConfig.Monitoring` but the same principles apply. :)

[2019-02-22 15:55] bobvanluijt opened #727 "Remove Graphiql from Weaviate"
Can now directly be used from the Playground.

[2019-02-22 15:57] #721 closed

[2019-02-24 20:11] #712 closed

[2019-02-24 20:19] bobvanluijt opened #728 "Add sentence context logic to Contextionary"
Sentence context is built on top of the Contextionary's `ComputeCentroid()` function.

- Update the generator to generate a word occurrence CBOR file.
- The sentence is split per word creating a `Vector{}` array.
- Weights are determined on the occurrence of the word (Contextionary needs to be extended with word count vocab file to determine how often a word appears).
- Add to contribute docs

[2019-02-25 13:50] etiennedi opened #729 "Add geotype to datatypes"
## Todos

* [x] design decisions
  * [x] name of the field
    * current proposals: `geoCoordinate`, `geoLocation`, `geoPoint`
      * my personal favorite being `geoCoordinate`
      * cc @laura-ham @bobvanluijt
  * [x] design of the where filter
    * @laura-ham suggestions?
* [x] spike out happy path in janusgraph only
  * [x] index creation
  * [x] adding property
  * [x] searching by property

[2019-02-25 14:08] etiennedi opened #730 "Extract contextionary into separate microservice"
## Why?
* so we can deploy weaviate without including the contextionary
* so we can scale weaviate independent of the contextionary

## Proposed architecture
see https://github.com/creativesoftwarefdn/weaviate/issues/730#issuecomment-467892860

[2019-02-25 17:44] laura-ham opened #733 "Add links between classes in GQL demo dataset"
- Add link 'WorksIn' between Person and City.
- Add links between classes in Airlines dataset

[2019-02-25 22:04] laura-ham commented on #733
@dljcollette:
- I added a property `worksIn` in the class `Person`, pointing to the class `City`.
- I added the properties `recentDeparture` and `recentArrival` to the class `Airport`, pointing to `Plane`

[2019-02-25 22:04] #733 closed

[2019-02-26 00:01] bobvanluijt commented on #730
Curious to know how you are thinking of having the microservice exposing the Contextionary. Do you mean as (simple as) a cross container download or something more sophisticated?

[2019-02-26 00:02] bobvanluijt commented on #729
Please don't forget to add it to the ontology docs :-)

[2019-02-26 08:22] etiennedi commented on #720
## User experience impact of long-running analysis job and caching

This example assumes an analysis job takes 30min to complete. (It deals with both this issue, as well as #719)

### What changes for the user?
Prior to this, we ignored the fact that analysis jobs take considerable time on large graphs. We assumed that results would be real-time.

This aims to keep the UX as nice as possible. For

[2019-02-26 08:36] bobvanluijt commented on #720
Thanks @etiennedi. @laura-ham, what would be the appropriate place to add this UX to the docs?

[2019-02-26 09:14] laura-ham commented on #720
@etiennedi
**Iteration 1**
This is a good way of giving the user feedback of what is happening. Is it possible to give a time estimation of when the caching should be done? Then the user knows what he can expect from the machine.

**Iteration 2**
I think either `forceRecalculate` or `forceRecreate` (prefer the former) (or `forceReload`) are appropriate names for the functions, because this is exac

[2019-02-26 09:43] laura-ham commented on #729
@etiennedi

I think we should support at least 3D geo types. A simple example is the altitude of locations on earth (@bobvanluijt could be important for satellite measurements as well).
But I think we should not adopt the name `geotype` for this datatype, but rather something more abstract/general like `coordinate`.

To support this, we have to assume that we only applying `geocoordinates`, and no

[2019-02-26 10:40] etiennedi commented on #729
Summary of what @laura-ham, @bobvanluijt and I discussed on Slack:

- We accept that there are many use cases for coordinates (different coordinate systems, different dimensions), but specifically want to reduce this problem to “a place on earth”
- At first we will only support `latitude` and `longitude` as the only two parameters (mostly motivated by the fact that a) we see a use case for this in

[2019-02-26 11:43] bobvanluijt opened #735 "Remove keys from documentation"
There is still old key information in the docs.

[2019-02-26 12:44] JeroenStravers1 opened #736 "Implementing CBOR Conversion (monitoring service)"
## Goal
The monitoring service POSTS logged function calls to a monitoring endpoint. This message should be converted to [CBOR](http://cbor.io/) format to minimize traffic.

## Steps:
- [x] 1. Determine which [library](http://cbor.io/impls.html) to use out of the three listed
- [x] 2. Write encoding/decoding test cases
- [x] 3. Implement CBOR conversion

Related to: #699

[2019-02-26 12:59] JeroenStravers1 commented on #736
Regarding 1:
Out of the three listed options I dismissed [one](https://github.com/brianolson/cbor_go) out of hand as it is stated to be unreliable in its readme. I tested [ugorji](https://github.com/ugorji/go/tree/master/codec)'s (**U**) and [2tvenom](https://github.com/2tvenom/cbor)'s (**2**) implementations.

I chose **U** over **2** because it is:
- actively maintained; last updated 29 days ago

[2019-02-26 14:55] JeroenStravers1 opened #737 "Telemetry error handling"
## Issue
I'm using a lib to encode function usage logs in [CBOR](http://cbor.io/) format before posting them to the monitoring endpoint. If this conversion fails for any reason (after retrying, etc), then what should happen to the unconverted logged records?

## Options
- Log them like we will log failed posts (but keep these separated)
- Something else?

@bobvanluijt @etiennedi

related: #699 #73

[2019-02-26 15:00] etiennedi commented on #729
Janusgraph Research Results

add a field called location that is a Geoshape and add it to the existing (elasticsearch-based) index:
[code]

Add a vertex with the coordinates of Amsterdam:
[code]

Try to find it based on the coordinates of Düsseldorf:
[code]

[2019-02-26 16:40] bobvanluijt opened #738 "Docker-compose for "try-out" setup"
A docker compose setup for a stable and unstable Weaviate with the latest Contextionary.

The goal is that people can try out Weaviate locally.

Also;
- [ ] update docs
- [ ] include Playground(?)

[2019-02-26 16:43] etiennedi commented on #738
At first sight, it looks like only etcd is missing. I'll add it and give it a shot.

The goal is that a simple `docker-compose up` is sufficient.

Keep in mind, I think we haven't ever pushed an image tagged with `:stable` though, so until we do that, the `stable` version might fail.

[2019-02-26 17:26] etiennedi commented on #738
Just pushed it,

the `unstable` should work now. As outlined above, `stable` should fail because no such image exists.

Additionally please keep in mind:

1.) while a simple `docker-compose up` works, it blocks the terminal, because it attaches to the logs of all containers (including janus, cassandra and elastic). This is very verbose. So I'd instead recommend to run `docker-compose up -d` to be

[2019-02-26 17:29] JeroenStravers1 opened #739 "Weaviate own peer name optional"
## Issue
Weaviate instances do not currently need to have a peer-to-peer name if they're not part of a peer-to-peer network. However, each Weaviate instance needs to have a name for the monitoring service.

## Background
Weaviate instances will post logs of function calls to a monitoring endpoint. We need to be able to identify which log belongs to which instance, both to be able charge users and

[2019-02-26 17:32] etiennedi commented on #739
Maybe this could also be separate names. The monitoring name is probably machine-read and could even be a uuid or some other cryptic identifier. The peerName (in the network section) however is used as the display name for this peer (in the GraphQL api for example). So there might be an advantage to keep them separate.

[2019-02-26 17:32] JeroenStravers1 commented on #736
Not closing yet, pending a question regarding error handling

[2019-02-27 08:44] bobvanluijt commented on #729
Something on a meta-level (not necessarily related to Geoloc) we should make a distinction between `types` and `formats` (as you can already see [here](https://github.com/creativesoftwarefdn/weaviate/blob/develop/docs/en/use/ontology-schema.md#property-datatypes)). Especially from a connector PoV this is important, it might be the case that a non-JanusGraph connector is unable to deal with functio

[2019-02-27 14:36] bobvanluijt commented on #738
Thanks @etiennedi, I'll assign to myself

[2019-02-27 14:47] etiennedi commented on #729
@laura-ham I just realized that I was sometimes using the name `geoCoordinate` (singular) and sometimes `geoCoordinates`. I just changed it to make sure it's unique throughout, but I'm not sure yet which option is better.

Is there such a thing as a single coordinate? Or would the combination of latitude and longitude both be a coordinate, i.e. we'd always have a pair of coordinates? If so, should

[2019-02-27 14:48] bobvanluijt commented on #739
Ha, I did not know this (I assumed they all had names).

@JeroenStravers1, For now, I would suggest;
- if you have a name, set it.
- if you don't have a name, leave it blank.

[2019-02-27 14:55] etiennedi commented on #730
Slightly more sophisticated. If we do a cross-container download, we'd have the same coupling regarding scaling: Every weaviate container would need to download it at startup. Even though this is much faster than downloading from the internet, it would still delay startup. Additionally each container would then need to keep it either in the file system or in memory, which takes unnecessary resourc

[2019-02-27 15:11] bobvanluijt opened #741 "docker-compose up fails with "Are you trying to mount a directory onto a file?""
After running `sudo docker-compose up` the following error occured, also  `docker-compose up` failed.

[code]

[2019-02-27 15:22] etiennedi commented on #741
As mentioned on slack, most likely you copied just the `docker-compose.yml`, but not the other files from the folder, that the `docker-compose.yml` wants to mount as volumes.

Why do you need `sudo`, it should run fine without it? Or did you install `docker` as `root`?

[2019-02-27 15:25] bobvanluijt commented on #741
For root: I'm trying out different configs, but both work now.

As to the answer: make sure the download _all_ files listed in the [docs](https://github.com/creativesoftwarefdn/weaviate/blob/develop/docs/en/use/running-weaviate.md#run-full-stack-with-docker-compose). Not only the docker-compose file.

[2019-02-27 15:25] #741 closed

[2019-02-27 15:32] bobvanluijt opened #742 "Docker-compose DB fails: "Could not create SSTable component""
Weaviate doesn't start with Docker-compose and keeps in a failing loop;

[code]

[2019-02-27 15:34] etiennedi commented on #742
Sounds like cassandra couldn't startup up. Can you do a `docker-compose ps` to see which containers are up at all and in which state.

Also what memory configuration do you have on your docker daemon?

[2019-02-27 15:37] bobvanluijt commented on #742
[code]

[2019-02-27 15:39] etiennedi commented on #742
Ouch... everything is crashing. How much memory are you allowing the docker daemon?

can you post the full logs of the following containers, please?
- `docker-compose logs index`
- `docker-compose logs db`

[2019-02-27 15:43] etiennedi commented on #742
The above could easily be a permissions issue by the way. If you ran the setup once with `sudo` and once without, some files may now be owned by `root` and others may be owned by your `bob` user.

Having said that, there's really no reason for the data volumes to be mounted from the disk at all. Just a second, I'll push something that could potentially fix this.

[2019-02-27 15:44] bobvanluijt commented on #742
Please note that I `ctrl-c`-ed. It was only the DB.

[2019-02-27 15:45] etiennedi commented on #742
I see, I'll remove the volumes and then we can try again.

[2019-02-27 15:49] etiennedi commented on #742
@bobvanluijt Please remove the `./data` folder, it's not needed anymore and try again with the files from after 7d8c1b1. Merci

[2019-02-27 15:50] etiennedi commented on #742
Also to make sure you are really recreating the setup you can do either
- `docker-compose up --force-recreate` or
- `docker-compose down && docker-compose up`

[2019-02-27 16:05] bobvanluijt commented on #742
Results in:

[code]

[2019-02-27 16:07] bobvanluijt commented on #742
With `docker ps`

[code]

[2019-02-27 16:12] etiennedi commented on #742
Sounds like the communication with etcd is not working as intended. Can you please

`docker exec -it bob_etcd_1 sh` to enter the etcd container.

Once in there, please do a `ETCDCTL_API=3 etcdctl get --prefix /w` and post the results here, merci. (This is to test whether etcd in general works and we have a network communications problem, or whether etcd itself will also error)

[2019-02-27 16:15] etiennedi commented on #742
Also the logs for etcd might help, i.e. `docker-compose logs etcd`

[2019-02-27 16:57] bobvanluijt commented on #742
Result `ETCDCTL_API=3 etcdctl get --prefix /w` == `empty`

Result `docker-compose logs etcd`:

[code]

[2019-02-27 17:00] etiennedi commented on #742
hm, seems you're running into some timeouts
[code]

what kind of machine are you running this one and how much resources are you giving the docker daemon? can you try to increase both memory and cpu and try again?

[2019-02-27 17:02] bobvanluijt commented on #742
GCP: `n1-standard-2 (2 vCPUs, 7.5 GB memory)`.

Let me give it a try.

[2019-02-27 17:03] etiennedi commented on #742
Ok, if you give all your resources to the docker daemon this should be sufficient

[2019-02-27 17:23] bobvanluijt commented on #742
That was it, apparently on Linux, the default is ["as much as the kernel gives it"](https://forums.docker.com/t/what-is-the-default-memory-limit-for-a-container/166/2) spinning up a more beefy machine did the trick.

Will keep trying it with other setups

[2019-02-27 17:23] #742 closed

[2019-02-27 17:33] bobvanluijt commented on #730
Interesting, but would make Weaviate depend on Docker?

[2019-02-27 17:39] etiennedi commented on #730
No, the contextionary could of course also be its own VM, bare metal server or just run in a different process on the same machine. There's nothing docker-specific about it. It's just decoupling of concerns, the same way that janus is its own microservice, cassandra is its own service, etc.

Weaviate is at the verge of becoming a big monolithic application (this is creating issues for us, for exam

[2019-02-28 08:57] etiennedi commented on #729
@bobvanluijt would mind creating a separate issue for https://github.com/creativesoftwarefdn/weaviate/issues/729#issuecomment-467774557. I think I agree with what you're saying, but I'd like to tackle this independently of this issue. Thansk

[2019-02-28 09:00] etiennedi commented on #729
@laura-ham I'll most likely get to the point today where I have to build the where filter for a "range search". Do you have any spontaneous design idea? If not, I can also just build something that works, and then we can make it nicer whenever you have some time.

[2019-02-28 11:15] JeroenStravers1 commented on #739
Fair enough, I assumed we need to use names as UUIDs but now realize we also have the sender's IP address. I'll implement it like that, thanks!

[2019-02-28 11:15] #739 closed

[2019-02-28 11:35] laura-ham commented on #729
I think there is only a plural `Coordinates` in our case, we always have at least a latitude and longitude. (we were not the first ones wondering this https://www.quora.com/Are-coordinates-plural-or-singular) However, I see Janusgraph uses the singular form `GeoCoordinate`..

TLDR; see last piece of code and explanation below :)

I think we should keep as close to the original design as possible,

[2019-02-28 11:54] bobvanluijt opened #743 "PROPOSAL: rename dataType to dataFormat and use dataFormat as format"
Currently, we use: "Data Type and Data Formatting" as defined [here](https://github.com/creativesoftwarefdn/weaviate/blob/develop/docs/en/use/ontology-schema.md#property-datatypes).

However, in the ontology definition, we use: `@dataType` but I think this should be `@dataFormat`. Where the data type defines _how_ something is stored and the format _what_ is stored.

Also see: https://github.com/c

[2019-02-28 11:55] etiennedi commented on #729
Agreed. I'll update it.

However, I'll only implement the case where only `distance: { to }` is set for now. And outscope the `from` part. This is because we're on a tight timeline to v1 and I need to cut corners whereever possible. We can then introduce the additional `from` field in a later minor version. (cc @bobvanluijt)

Possibly the same for `OutsideGeoRange`, then again, that's probably jus

[2019-02-28 11:59] etiennedi commented on #743
Are the proposals alternatives or individual steps of one proposal?

[2019-02-28 12:00] laura-ham commented on #729
Yes, makes sense.

True, let's remove `OutsideGeoRange`, because this is indeed the same as applying the `not` operator.

So this cannot be requested as separate properties as we do in the query above?

I could do the docs, but not before tomorrow. Do you also mean https://github.com/creativesoftwarefdn/weaviate/blob/develop/docs/en/use/ontology-schema.md#property-datatypes in addition to GraphQL

[2019-02-28 12:00] etiennedi commented on #743
Even though I'm not in favor of increasing the scope for `v1.0.0`. This sounds like something that would be quite breaking to change it later. So we should probably tackle this before major 1.

[2019-02-28 12:05] etiennedi commented on #729
From a db perspective (in the janus case) we retrieve the pair as an atomic unit. However, in the graphql resolver we only show what the user requested. So if they only want to show the `Latitude`, but not the `Longitude` that's fine.

However, if they try to perform transaction on it (such as a within-range search) both fields have to be provided. This is also how I've currently implemented it on

[2019-02-28 12:05] laura-ham commented on #743
The "`dataTypes`" are distinct from each other in their format and not in type (e.g. string and date are both of type `string`, but formatted differently), as you mention [here](https://github.com/creativesoftwarefdn/weaviate/blob/develop/docs/en/use/ontology-schema.md#property-datatypes).

So yes, I agree that the correct name for this would be `@dataFormat`.

[2019-02-28 12:08] laura-ham commented on #729
Okay thanks, I get that. But it is still not clear how the user then can request to get the value for longitude and latitude back as separate property values, while it is in the database formatted into one property.

[2019-02-28 12:14] etiennedi commented on #729
Not sure I understand the last part.

In the db the type of the field that I call `geolocation` above is a `Geoshape.Point`. This Java class in turn has properties for the coordinates. I think it's an array of two floats whereas element 0 is lat and element 1 is long. This is at the same level where the prop `name` would be the java class `String` which doesn't have any properties, but is just the

[2019-02-28 12:15] laura-ham commented on #729
Okay, so by default there is a `latitude` and `longitude` field in every property with the @datatype `GeoCoordinates`?

[2019-02-28 15:50] laura-ham commented on #729
Okay I completely understand it now :) thanks for the clear explanation!

[2019-02-28 18:11] etiennedi opened #744 "Update Janusgraph to 0.3.0"
We are currently using Janusgraph v0.2.x.

## Why?
We want to (and have to) update to the latest version v.0.3.x because
* our analytics microservice (based in Java) works with the newest versions, but would need more fine tuning to work with older versions as well
* we should always aim to keep our major dependencies up to date

## Risks
We don't see any major obstacles or risks. There could be m

[2019-02-28 18:13] etiennedi commented on #719
Depends on #744

[2019-03-01 07:04] etiennedi opened #745 "Remove pagination from Local/Network { Get }"
## Why?
- Pagination in Janusgraph is not something we'd get for free for large data sets
- So far we just assumed paging through large datasets is something we could easily do, but haven't tied this to a specific use-case
- Upon further investigation we have realized we don't see any use cases

## Todos
* [x] Replace pagination (`first`, `after`) with simple `limit`
  * @laura-ham ham, do we also

[2019-03-01 07:05] etiennedi commented on #745
Added the `Bad UX` label because in the current state, the feature is present, but doesn't really work.

[2019-03-01 07:17] etiennedi commented on #729
@laura-ham
Spontaneous thought: Would `distance: { min max }` be easier to understand than `distance { from to }`. I find from to a bit ambiguous in the setting of coordinates and maps, because it reminds me of taking a measurement from a specific point to another. Wondering what you think about this.

[2019-03-01 07:33] etiennedi commented on #725
An easy fix could be to just watch the key and invalidate the cache if it changes, as described in here: https://godoc.org/github.com/coreos/etcd/clientv3#example-Watcher--Watch

[2019-03-01 07:52] laura-ham commented on #745
Yes, I vote for replacing it by `limit` as well.

[2019-03-01 07:56] laura-ham commented on #729
If we talk about `distance` then I agree that `min` and `max` would be better options. I initially copied the `from` and `to` from https://www.compose.com/articles/geofile-elasticsearch-geo-queries-2/, using them for `geo_distance_range`.

[2019-03-01 08:02] etiennedi commented on #729
Cool, then I'll reflect that as well. :)

[2019-03-01 15:05] etiennedi commented on #729
This is is the flow mentioned in https://github.com/creativesoftwarefdn/weaviate/issues/729#issuecomment-468314128 with the updated names:

[code]

and on import we have to specify something like this:

[code]

[2019-03-01 15:15] bobvanluijt opened #746 "Add unit of distance to WithinGeoRange filter (on geoCoordinates)"
Currently, the distance is always in kilometers.

The user should be able to choose the type of distance;
- Fathoms
- Feet
- Furlongs
- Meters
- Miles
- Nautical Miles
- Yards

[2019-03-01 15:16] etiennedi commented on #746
Planned for after MVP phase, correct?

[2019-03-01 19:40] bobvanluijt commented on #746
Yes

[2019-03-01 19:44] bobvanluijt commented on #729
@laura-ham because I'm working on the docs I've already tackled this.

[2019-03-01 20:31] #729 closed

[2019-03-01 21:25] bobvanluijt opened #748 "AllowedHeaders CORS"
Currently, there is no `AllowedHeaders` set resulting in:

[code]

Header that should be allowed are:
- "content-type"
- "x-api-key"
- "x-api-token"

[2019-03-02 16:01] bobvanluijt opened #752 "Weaviate help is broken"
Running:

[code]

results in:

[code]

[2019-03-02 16:03] etiennedi commented on #752
I wasn't aware that's a feature. I guess that means it's not tested.

No tests -> absolutely no guarantees.

[2019-03-02 16:06] bobvanluijt commented on #752
It is part of go-swagger, i'm not sure if it is an issue or my Golang setup though

[2019-03-02 16:06] bobvanluijt commented on #752
Running `go run cmd/weaviate-server/main.go --host=0.0.0.0 --port=8080 --scheme=http --config=demo --config-file=./docker-compose/runtime-dev/config.json` results in the same.

[2019-03-02 16:10] bobvanluijt commented on #752
Solved with: `export GO111MODULE=on`

[2019-03-02 16:10] #752 closed

[2019-03-02 16:10] etiennedi commented on #752
At least the error in the OP seems to be related to your setup, works fine for me:
[code]

[2019-03-02 16:11] etiennedi commented on #752
ha, 3 seconds too slow ;)

[2019-03-02 16:23] etiennedi opened #753 "Release process / Use semantic versioning in docker tags"
Update: Tackling the tagging strategy is closely aligned with managing releases. See the current proposal in https://github.com/creativesoftwarefdn/weaviate/issues/753#issuecomment-469691969

## Current problem
Currently we are doing a few anti-patterns in tagging our containers:

* We are over-writing the same tag on subsequent builds (i.e. either `unstable` or `stable`)
* There is no clear way t

[2019-03-02 16:31] bobvanluijt commented on #753
Some questions;
- would we keep the master and develop branch? Master == stable and develop would == unstable? If not, how would the flow work to determine stable or unstable?
- we should auto update the docs, right?

[2019-03-02 22:48] #748 closed

[2019-03-02 22:49] #738 closed

[2019-03-03 12:03] bobvanluijt opened #754 "Cardinality not implemented in GraphQL"
Tested in version `0.12.60`, it seems that the cardinality is not implemented properly into GraphQL.

There are two ways to create a class:

## At most one

[code]

## Many

[code]

# Problem

From a GraphQL perspective, this should result in two different ways to query;

## At most one

[code]

## Many

[code]

Currently, both forms of the cardinality use the `many` structure to query the graph.

[2019-03-03 12:19] etiennedi commented on #754
I wasn't aware of a separate version for `AtMostOne`. In fact I assumed aiming for a consistent return value in GraphQL would even prevent us from allowing something like the above?

If we were to implement the split as outlined above, we'd need to come up with a new design for Network Cross-Refs, because right now they rely on the `InlineFragments` to be available. For example

[code]

Another op

[2019-03-03 12:39] laura-ham commented on #754
I thought that crossreferences in `@datatype` always require your second way of querying, no matter the cardinality..?

[code]

[2019-03-03 12:41] etiennedi commented on #754
Thought so too, and that's also what the implementation looked like when I joined.

[2019-03-03 14:13] laura-ham opened #755 "geoCoordinate GQL questions"
With `geoCoordinates` as new datatype, I have some questions for implementing this further: (I'm opening a new issue, since [this one](https://github.com/creativesoftwarefdn/weaviate/issues/729) is closed.)

**GraphQL `GetMeta` (and `Aggregation`)**
For `GetMeta`, we have information that can be queried for each datatype, see [here](https://github.com/creativesoftwarefdn/weaviate/blob/develop/docs

[2019-03-04 07:35] bobvanluijt commented on #754
IMO it is a matter of UX.

If I work with an unknown Weaviate I need to always;
1. Determine what is a cref.
2. Determine which potential Classes are possible.
3. Write an `... on X` query.

If we have `atMostOne`, we could eliminate steps 2 and 3 because it is known which Class resolves into the cref-property.

[2019-03-04 08:47] etiennedi commented on #670
Hi @dljcollette,

quick question: Is this available on the Prototype, but missing from Weaviate? Because if so, I'll treat it as a bug and can fix it right away.

If it's not available on the prototype either, it would be an API change, that I'd like to go over with @laura-ham first.

[2019-03-04 08:49] dljcollette commented on #670
@etiennedi, this is available in the prototype right now and afaik build in GraphQL by default, so I would  treat it as a bug.

[2019-03-04 08:50] etiennedi commented on #670
Ok, perfect. In which places do you need it? Only in `Local -> Get -> <Kind> -> <ClassName>` or also in other places?

[2019-03-04 08:51] dljcollette commented on #670
In addition to the above query, GraphQL by default exposes `__typename` not only on <ClassName> but on every GraphQL type.

[2019-03-04 08:53] etiennedi commented on #670
Are you sure? It sounds from the docs as if it was only exposed on queries that have an **uncertain** return type: https://graphql.org/learn/queries/#meta-fields

[2019-03-04 08:55] dljcollette commented on #670
This docs say so.

[2019-03-04 08:56] dljcollette commented on #670
Yes, indeed. Also, I have never exposed `__typename` by hand in either the Facebook and Apollo implementations and it always worked.

[2019-03-04 09:48] etiennedi commented on #670
@dljcollette I just verified and I don't think I can reproduce the issue. It seems as if `__typename` is working fine. This is what I'm currently getting back, is this not the intended result?
![image](https://user-images.githubusercontent.com/8974479/53724813-09e5f900-3e6b-11e9-8303-79e17b8b9ac0.png)

[2019-03-04 10:34] dljcollette commented on #670
@etiennedi I can't reproduce the original issue either. Should have also taken a screenshot :relaxed: However, the issue still exist in other GraphQL types, for example: ![schermafdruk 2019-03-04 11 28 44](https://user-images.githubusercontent.com/1950288/53727525-c0001180-3e70-11e9-9a22-919b3a3ca922.png)

[2019-03-04 10:39] etiennedi commented on #670
Thanks for the example, I'll address this immediately. Can you please list all other places that it fails for you. I'll add a test for each one and fix it. But right now, I don't know which places require fixing and which don't.

[2019-03-04 11:19] etiennedi commented on #670
Bugfix just pushed, added two new tests and also verified manually:
![image](https://user-images.githubusercontent.com/8974479/53730269-b75f0980-3e77-11e9-86ea-908ad89da364.png)

I'm keeping this issue open until we have verified whether it's OK everywhere now or fails in other places now.

[2019-03-04 12:10] bobvanluijt opened #756 "Adding crefs via /things/{thingId}/references/{refName} doesn't work"
Adding CREFS following the following curl works perfectly fine;

[code]

However, the equivalent with `/things/{thingId}/properties/{propertyName}` doesn't work;

[code]

Results in: `{"error":[{"message":"Illegal value for property inCity"}]}`

PS:
I did not validate `/Actions` but I'll assume the behavior will be similar.

[2019-03-04 12:13] bobvanluijt commented on #754
Additionally to the above (and because I created: https://github.com/creativesoftwarefdn/weaviate/issues/756)

From a _data input_ perspective, the cardinality works as expected.

**For example for `many`:**

[code]

**For example for `atMostOne`:**

[code]

# Recapitulation

To recap, I would expect the GraphQL interface to not ask me to define a class (`... on X`) when `atMostOne` is set.

[2019-03-04 12:45] bobvanluijt opened #757 "Resolve automatically in GraphQL when @dataType length == 1"
When adding a Thing or Action we define the `@dataType` like this:

[code]

To query the above with GQL I need to do this:

[code]

But if the amount of `@dataType`'s == 1, we can allready resolve _without_ using the `... on ZooKeeper` functionality.

For example:

[code]

# Proposal

Automatically resolve the type in GraphQL when the count of `@dataType`'s == 1.

[2019-03-04 12:45] bobvanluijt commented on #754
Obsolete, has nothing to do with cardinality. Updated here: https://github.com/creativesoftwarefdn/weaviate/issues/757

[2019-03-04 12:45] #754 closed

[2019-03-04 12:47] etiennedi commented on #757
I think this would actually make UX worse. This would mean if we start out with a schema where the count of `@dataType` is 1 and then we update this at some point in the future to include a second type, all existing queries would break.

[2019-03-04 14:03] dljcollette opened #758 "Unable to query multiple operands with the same path"
When I perform a query like:

[code]

It fails with the following response:

[code]

I'm expecting a result that includes both Bert and Alphonso. The query structure does work on the prototype.

[2019-03-04 14:09] laura-ham commented on #757
I agree with @etiennedi 's argument. Also, keeping `... on <classname>` as in the current design means that it is consistent for all properties that have datatype of one or more cross references.

[2019-03-04 14:35] etiennedi commented on #758
Technical explanation of the bug:
We had queries like so:
[code]
These were also tested at all levels and worked. However, the same query with an led to issues:
[code]
This lead to an issue complaining that no index is present.

The index we are using here acts on `kind == thing`. However, the above query would mean `has kind == things OR any of the or conditions`. Instead what we meant was to say

[2019-03-04 14:37] etiennedi commented on #758
To prevent a regression on this issue, new tests were added that aim to reproduce the scenario that led to the bug in the first place.

[2019-03-04 14:38] etiennedi commented on #758
@dljcollette Fix is pushed, it should be deployed in 40ish minutes. I'm keeping the ticket open until you can verify that it works.

[2019-03-04 20:48] laura-ham opened #759 "Update RESTful API serviceIds"
Since data in a Weaviate Network can only be queried by the GraphlQL API endpoint, serviceIds in other RESTful endpoints should be removed.

I will keep the Network serviceIds in the p2p and knowledge tools endpoints however.

[2019-03-04 20:49] #759 closed

[2019-03-05 10:34] etiennedi opened #760 "Update gremlin client to GraphSON 3.0"
In #744 we updated the Janusgraph version to 0.3.1 in order to be able to tackle #719 and #720.

However, we noticed that
* Janusgraph 0.3 comes with Tinkerpop 3.3
* Tinkerpop 3.3 in turn comes with GraphSON 3 by default
* Our Gremlin client is expecting an older format (not entirely sure yet whether it's 1.0 or 2.0)

In order to move faster in #744 - as it was ultimately just a requirement for #7

[2019-03-05 11:43] dljcollette opened #761 "Query with fragment on union fails"
The following query is correct GraphQL syntax. However, is responds with an error as shown below the query. I was expecting a query response with `Animal` objects nested under `HasAnimals`.

The query works when I remove the `localThingsAnimal` fragments and move those fields in `HasAnimals { ... on Animal { <fields> } }`. However, according to the GraphQL spec I should also be able to perform a q

[2019-03-05 12:03] etiennedi commented on #761
I assume this has to do with how the resolver for `Local { Get }` extracts the subquery tree. It literally expects the fragment that represents the Schema Class on the level of `Has Animals`.

It seems like that due to this issue we are currently not entirely conforming with everything that's possible in GraphQL. However, there's also extremely limited capacity on the MVP roadmap. Since there is a

[2019-03-05 14:06] etiennedi commented on #753
@bobvanluijt

Currently I could see the following working:
* Remove the differentiation between `develop` and `master`
* No auto-bump happens on merge
* Every merged PR will automatically be pusehd as `<previousSemVer>-gitHash` (formerly unstable)
* We manually create a `git tag` when we want to release. This tag will be next semver version and a human (not a script) has to decide whether it's a p

[2019-03-06 07:22] bobvanluijt commented on #753
Can you confirm that we;
- remove master completely (develop = default branch already).
- autobumps happens _except_ when PR or merge in develop.
- the pre-release (with gitHash) happens automatically when in develop.
- we tag and release (without gitHash) manually.

About the docs, if we _don’t_ use something like `:latest` the docs need to be updated manually.

[2019-03-06 08:12] bobvanluijt commented on #761
Thanks for highlighting this @etiennedi.

@dljcollette, can you please share an example of the query above which is now parsed by Weaviate?

[2019-03-06 08:16] dljcollette commented on #761
This is an inlined version that currently works in Weaviate:
[code]
Result:
[code]

[2019-03-06 08:24] bobvanluijt commented on #761
Thanks

[2019-03-06 08:52] etiennedi commented on #753
I'd prefer to merge everything into `master` once. Make this the default and keep that one around. Simply because `master` is the most intuitive name for a trunk branch. If that is too much effort though, your proposal should also work. I guess we can always rename it in the future.

What would we auto-bump? Every time we change the major/minor/patch an actual release (manual) needs to happen, oth

[2019-03-06 09:48] bobvanluijt commented on #753
Thank @etiennedi.

Per open bullets;
1. I would suggest "removing master", "rename develop to master" instead of releasing in master and remove develop. I'm worried we might break the Merkle tree.
2. I see, completely clear. Nothing happens regarding versions in feature branches.

One thing though, we now not use `feature/*` always when working on features. I would really like to have this in thou

[2019-03-06 09:53] etiennedi commented on #753
1. fine with me :)

Agreed. This is essentially the [GitHub Flow](https://help.github.com/en/articles/github-flow#following-the-github-flow) which is a form of trunk-based development in my mind.

I also like the distinction between `feature/*` and `bugfix/*` in branch names.

We also have a huge amount of branches that were never merged (and thus deleted). We might use this opportunity to delete

[2019-03-06 09:54] bobvanluijt commented on #753
True, I'm all for also including `bugfix/*`. It is more that I would like to have it organized :-P

I'm going to experiment in an empty temporary repo with this.

[2019-03-06 11:42] bobvanluijt commented on #753
With the latest updates, there is one last issue and that sits in the running-weaviate docs.

What would be the easiest to indicate:
- This is how you get the latest release?
- This is how you get the latest pre-release?

Would this be as simple as automatically update the docs? Or am I missing a more appropriate solution @etiennedi?

[2019-03-06 12:04] bobvanluijt opened #766 "Remove the prototype"
As discussed with the group.

[2019-03-06 12:07] etiennedi commented on #766
Please keep in mind that the dev setup currently depends on the prototype
being available as a second peer, so we need to either come up with an
alternative or remove the network setup from the dev env.
Bob van Luijt <notifications@github.com> schrieb am Mi. 6. März 2019 um
13:04:

--
—
Etienne Dilocker, Inhaber
Dilocker IT

Grundwiesenweg 30a
D-67434 Neustadt an der Weinstraße

Mobil: +49 (0) 175

[2019-03-06 13:27] JeroenStravers1 opened #767 "Implement monitoring function call logging"
## Background
I need to implement GQL function call logging as part of the monitoring service. This goes two levels deep, so local/network and then get/getmeta/aggregate/fetch/introspect. I need to log a separate call per aggregate function used, so as far as I can tell logging needs to happen at resolver level.

## Issue
I've declared a [logging variable](https://github.com/creativesoftwarefdn/we

[2019-03-06 13:57] etiennedi commented on #767
I'll outline the example of how we get the contextionary to the resolver for `Local { Fetch }` as this should essentially be the same flow.

One note before: It is very important (to avoid bad coupling and circular imports) to decouple this as much as possible. This means that from the perspective of the `graphqlapi` package the type you accept is an interface that is declared within the grahpql p

[2019-03-06 14:20] bobvanluijt commented on #766
Aha, that's good to know.

[2019-03-06 14:28] bobvanluijt commented on #720
Check @laura-ham, feel free to add it. But please do this in the `feature/docs` branch

[2019-03-06 14:29] JeroenStravers1 commented on #767
This does look like the solution I was looking for, thanks!

[2019-03-06 14:29] #767 closed

[2019-03-06 14:29] bobvanluijt commented on #737
@etiennedi, you had a suggestion for storing, right? It is important to keep them _somewhere_ so that we can collect them later.

[2019-03-06 14:35] bobvanluijt commented on #738
@etiennedi this is obsolete now?

[2019-03-06 14:37] etiennedi commented on #767
Awesome, happy to hear this.

[2019-03-06 14:50] etiennedi commented on #738
It's already closed. What do you mean?

[2019-03-06 15:00] bobvanluijt commented on #738
Sorry, responded directly via email, please ignore.

[2019-03-06 15:05] etiennedi commented on #738
Roger that. Actively ignoring.

[2019-03-07 11:09] dljcollette commented on #761
Here's an example of a query with depth:
[code]

[2019-03-07 11:18] etiennedi commented on #761
Thanks. Resolving this shouldn't be an issue if I can resolve it in general. The "nested" fragments would call the same resolver multiple times, so from the perspective of the resolver, there's really just a single level of new fragments.

I'm optimistic I can fix this rather quickly now. I'll keep you updated.

[2019-03-07 12:31] etiennedi commented on #761
Currently blocked by https://github.com/graphql-go/graphql/issues/455

I'll see if I can come up with a workaround in the meantime, like using a regular expression to try and extract the Type.

[2019-03-07 13:55] etiennedi commented on #737
@JeroenStravers1 Was this issue opened before or after we talked about using `etcd` for storage if sending fails? Do we need a different solution or does this solution also apply here?

[2019-03-07 14:06] etiennedi commented on #761
@bobvanluijt Since I'm about to push a fix, there is no more need to mention this bug in the docs.

[2019-03-07 14:09] JeroenStravers1 commented on #737
Before, the same solution applies here. I'll put this info in etcd and document where it's stored. I'll close the issue once this is implemented.

[2019-03-07 14:13] etiennedi commented on #737
Cool, I've removed the `help wanted` label :) Feel free to re-add it if you have other questions.

[2019-03-07 14:22] etiennedi commented on #753
My pragmatic suggestion would be

Let's also tag the regular releases as `:latest` and reference `:latest` in the docs

Let's make releases frequent enough that users don't see a reason to get a pre-release. If they really have to for whatever reason they could still manually check the build logs what the latest tag was.

[2019-03-07 14:30] etiennedi opened #768 "Travis fails when trying to download mods for license checker"
High priority, since this is blocking (pre-)releases.

See https://travis-ci.org/creativesoftwarefdn/weaviate/builds/503127274#L2712-L2754

[2019-03-07 14:52] JeroenStravers1 opened #769 "Implement GQL function monitoring"
I'm implementing the code required to log function calls but cant implement the actual logging calls yet (pending an answer). Update these once the question is answered.

[2019-03-07 15:18] etiennedi commented on #768
License checker has been deactivated temporarily, to unblock the release path.

[2019-03-08 19:34] bobvanluijt commented on #768
Check @etiennedi, I've assigned this one to myself to solve later.

[2019-03-08 19:35] bobvanluijt commented on #769
@JeroenStravers1 can you please make a reference to the outstanding question? This is currently to ambiguous.

[2019-03-08 19:44] bobvanluijt opened #770 "Sentence to Contextionary array"
Add sentence functionality to the Contextionary;

1. [ ] Sentence to C11y array.
2. [ ] Sentence to sentence distance.
3. [ ] Create a weighted centroid of a sentence.
4. [ ] Concept to sentence functionality.

Notes:
- _WIP: I will add detailed workings to the docs directly rather than the issue._
- @etiennedi FYI: this is related to the new functionality @laura-ham and myself are designing.

[2019-03-09 02:38] bobvanluijt opened #772 "Remove history endpoint and reference to keys"
_self-descriptive._

[2019-03-09 08:51] etiennedi commented on #730
I did a small investigation yesterday of what is required and to get an understanding of how big or small the change would be.

## Architecture
### Current
Currently the Contextionary exists in the following places
* `contextionary`: The library package that describes the core contextionary
* `database/schema_contextionary`: which is basically an extension of the contextionary, enriched with schem

[2019-03-09 09:16] etiennedi commented on #770
Hello @bobvanluijt and @laura-ham,

as mentioned in #730 I want to extract the contextionary to a separate service. I'm just seeing if I can get a development environment up quickly. This will serve two purposes:

* Anything you add (while I'm moving) we don't have to sync, but you could just add it to the new repo already
* You have a dev environment which is completely decoupled from weaviate. Y

[2019-03-09 09:57] etiennedi commented on #770
@bobvanluijt @laura-ham

Success!

I've ported over the contextionary to https://github.com/creativesoftwarefdn/contextionary/tree/master/contextionary/core

Additionally, I've added a sample test file for you in which you can use a full contextionary: https://github.com/creativesoftwarefdn/contextionary/blob/6a65a62eeb0197421c9df8f218bbe4c3a2b85cfa/contextionary/core/component_test.go#L10-L24

No

[2019-03-09 12:31] bobvanluijt commented on #770
Thanks @etiennedi

[2019-03-09 13:02] #772 closed

[2019-03-10 14:24] jeroenstraverskpn opened #773 "Telemetry: Add GQL/POST filtering to Register()"
## Issue:
When registering function usage currently the `RequestsLog`'s `Register()` doesn't discriminate between post types when deciding whether to create a new record or to update the `Amount` property of an existing record; it only looks at the serviceID. This means that a POST `Get` and a GQL `Get()` will be logged as the same record type.

## Solution:
Add Type filtering to `Register()`

[2019-03-10 15:03] JeroenStravers1 commented on #769
My bad, I was referring to a question I posed on Slack regarding the ServiceID document. The question has been answered, this is no longer an issue.

[2019-03-10 15:03] #769 closed

[2019-03-10 16:26] JeroenStravers1 commented on #494
closing, no longer an issue

[2019-03-10 16:26] #494 closed

[2019-03-11 09:40] etiennedi opened #774 "Code cleanups before first release"
We want to get into the habit of frequent releases. Unfortunately we haven't done one in quite a while. We try to avoid "big monolithic" releases in the future, therefore making sure a release is a non-event.

However, the first one will most likely be slightly more eventful. This issue is to track anything that definitely needs to be cleaned up before releasing. This will mostly be leftover debug

[2019-03-11 10:20] etiennedi opened #775 "GetMeta errors when count == 0"
From https://github.com/SeMI-network/playground/issues/92

Original Issue:

[2019-03-11 12:35] JeroenStravers1 commented on #699
@bobvanluijt you stated that logging only needs to go two levels deep (level one: `local`/`network`, level two: `get`/`getmeta`/`fetch`/`aggregate`/`introspect`) and that I should also log the aggregate function calls. However, the way our schema is structured these aggregate functions are attributes of the `Things` and `Actions` at the third level. **Should I log two or three levels deep?** The a

[2019-03-11 12:39] JeroenStravers1 commented on #699
Just a thought: Using (only) 3rd level logging prevents us from determining the total number of GQL requests made.

[2019-03-11 13:43] bobvanluijt commented on #699
Hi @JeroenStravers1,

Good question, the `serviceId`'s should be based around the _query_ rather than the traversing. So for your latest example, you can go for:

- 2x "weaviate.local.get[sum]"
- 1x "weaviate.local.get[max]"
- 1x "weaviate.local.get[count]"

Does that answer your question?

[2019-03-11 14:04] bobvanluijt commented on #730
Just to make sure, if we make changes to the contextionary we can do this directly in the new contextionary repo, right?

[2019-03-11 14:06] etiennedi commented on #730
Correct, they won't be usable yet in weaviate, but we're only about a day's worth of work away from using the extracted contextionary there (I don't have this currently prioritized - in favor of Spark - but can do this at any time if you need it.)

[2019-03-11 14:39] JeroenStravers1 commented on #699
Hey @bobvanluijt, that definitely helps, thanks! What should I log in the first example?

[2019-03-11 16:04] etiennedi opened #776 "Local.Aggregate grouping on ref props breaks if ref-props have 0 or more than 1 ref"
This is one super weird. I just checked my update video from where I presented this feature. In the video I'm showing grouping on ref props. However, now it's broken, even with the same versions and although all tests are still green.

Currently this query
[code]

leads to this error:

[code]

[2019-03-11 16:25] etiennedi commented on #776
Update: This is less spectacular and mysterious than I initially assumed: I have since extended the dev set to also contain "Cities" that don't have any "inCountry" cross-refs and some that have more than "one". In this case it breaks.

I'm updating the title to reflect that.

[2019-03-11 16:42] etiennedi commented on #776
The fix for this is very easy, however it has some UX implications (@laura-ham)

I think the new return value is actually better, but I'd like to confirm with you first.

Previously it looked like this:
[code]

However, if we think about this, this is actually incorrect because "InCountry" could have cardinality "many". So if I fix the bug outlined above and make it work for all cases, we get some

[2019-03-11 17:16] etiennedi commented on #720
@laura-ham
I think I completely missed your response. Sorry about that. I think we've already talked about the time estimation on Slack, so for completeness sake (and other readers) here's a self-quote from the slack conversation:

As for prediction of time, if the query has ever run before we could tell the user „last time it took x minutes/hours“. But if it’s the first time we have no way of kno

[2019-03-11 17:26] etiennedi opened #777 "Proposal: Use yaml instead of json for weaviate configuration"
Idea: Let's use `yaml` instead of `json` for the overall config.

Why?
* `yaml` is easier to edit for humans than `json`
* `yaml` allows comments. Especially with the configuration options that might be required for #720 I can really see additional value in comments
* In our helm chart the current config is a hard-coded `json` in `yaml`. If the configuration was yaml anyway, we might be able to si

[2019-03-11 17:29] bobvanluijt commented on #777
Yes, all for it. Let’s do it 👍

[2019-03-11 18:01] laura-ham commented on #777
I'm convinced; it's easier and more applicable

[2019-03-11 19:58] etiennedi commented on #777
Awesome. That was easy. Then again with this issue number this couldn't possibly have gone wrong.

[2019-03-11 20:03] bobvanluijt commented on #777
Haha

[2019-03-11 20:04] bobvanluijt commented on #699
- 2x "weaviate.local.get[sum]"

[2019-03-11 20:08] bobvanluijt commented on #730
Cool, thanks.

[2019-03-11 20:44] etiennedi commented on #775
@dljcollette Bugfix is ready on a branch. However before I merge this, I have an API question for @laura-ham:

What should the null value for all the `GetMeta` props be? Right now everything is explicitly `null`, which might make sense in some cases, but be confusing in others. Let me demonstrate with some examples:

### Scenario: No cars, `GetMeta { model { count } }`
Option A: There are no cars,

[2019-03-11 21:38] laura-ham commented on #776
Hi @etiennedi,

Hmm, I don't see the problem with the cardinality. Assuming you used the following filter which gives the result you describe:
[code]

Then the results will be grouped per Country, and list per country the Cities that are in that country. I think that it means that `Germany` and `WestGermany` in your example would be separated, and will be returned as different groups. So the if on

[2019-03-11 21:51] laura-ham commented on #720
Hi @etiennedi,

Sounds good, also for the defaults. One thing is that if we allow or ask the user to set the `useAnalyticsEngine` in the configuration, the user has to think about this beforehand.

So it sounds like that these arguments are dependent on
* _the config_, which assumes that the two systems are implemented correctly before the user starts querying (otherwise there is just a simple err

[2019-03-11 22:13] laura-ham commented on #775
@etiennedi

At first, without looking at Scenario 2, I also thought option A for Scenario 1 is most intuitive. However, the `count` of `model` is not `0`, it instead does not exists, because there are no cars, just like in Scenario 2. A `0` would namely also be returned if there are cars, but no car instance has its model specified.

If there are cars, but no car has a `weight` specified, then the

[2019-03-12 08:13] etiennedi commented on #720
I think the important part is that GraphQL doesn't depend on Janus-specific config. Otherwise it will become a mess for other connectors and we lose the full plugability. So I think in the config we'll need two sections, roughly like so. I'm also adding some comments that we might use in the default configuration if we go this route:

[code]

⬆️ @bobvanluijt @laura-ham Feedback on the above apprec

[2019-03-12 08:57] laura-ham commented on #720
Looks good!

[2019-03-12 10:06] etiennedi commented on #777
I'm implementing this in an entirely non-breaking fashion in #720. `json` will still work, but `yaml` can also be used. This way we don't have to coordinate this with existing setups or the helm chart. Nevertheless we should update them soon as well.

Closing here in favor of #720.

[2019-03-12 10:06] #777 closed

[2019-03-12 12:25] etiennedi commented on #720
Minor change to what I suggested above: The remainder of the config uses `snake_case` rather than `camel_case`, so the new fields should be consistent with that as well.

[2019-03-12 13:40] etiennedi commented on #720
@laura-ham @bobvanluijt
Just realized that  - since we also have `Network.GetMeta` and `Network.Aggregate` - technically we'd need to add those fields there as well. However, I'd suggest that we view Spark over Network as an edge case for now. Since we only proxy, it can still work, however the UX would be slightly worse than on a local query.

For the local query we have the options outlined as i

[2019-03-13 18:12] dljcollette commented on #775
@etiennedi thank you for your solution. This would work for me. Having no error message is most important. I'll add some extra checks for null values in Playground.

[2019-03-15 13:35] JeroenStravers1 commented on #736
I was using 2tVenom's version for a while, but learned how to apply Ugorji's version recently. Switched back to Ugorji's lib.

[2019-03-15 13:35] #736 closed

[2019-03-15 17:39] etiennedi opened #779 "Local.Aggregate with Analytics Engine can't count ref props"
In #720 we added the ability to run both `Local { Aggregate }`, as well as `Local { GetMeta }` queries via an external analytics backend in the background.

Most queries are working in this mode, however counting ref-props with `Aggregate` results in the following error:

[code]

Note that counting ref props with `GetMeta` works fine.

This is currently awaiting external input and the point of thi

[2019-03-15 17:41] etiennedi commented on #719
Closing, as this was mostly evaluation and the production implementation is coming with #720.

[2019-03-15 17:41] #719 closed

[2019-03-15 17:43] etiennedi commented on #744
The PR for this was closed without merging due to the branch restructuring. I'll create a new PR, as this needs to be merged before the eventual PR for #720 .

[2019-03-17 16:44] etiennedi opened #781 "Proposal Batch-Crossref importer"
tl;dr: The following three posts show how my ideas for this endpoint evolved. If you're only interested in my latest proposal, please see https://github.com/creativesoftwarefdn/weaviate/issues/781#issuecomment-473684432. Nevertheless question "2" from this post is still relevant.

## Problem
* We know from our scale tests (#713) that a one-by-one import is slow if the scale is very large.
* We wer

[2019-03-17 16:52] etiennedi commented on #781
Update: I already saw a mistake in the above proposal. We can't reference a property without specifying the class. However, the user might want to make references from different class types in a single batch. So I think we need to move that into the the request body.

## Updated Proposal
Route `POST /batching/properties` (or alternatively `POST /batching/references/)

[code]

[2019-03-17 16:59] etiennedi commented on #781
Based on the last proposal we could also try to write this more concise like so:
[code]

I think I might actually prefer this one. The URL structure with a new `/<property>` section is new I believe, we've never had that before. But I think it makes sense.

[2019-03-17 21:01] laura-ham commented on #781
Hi @etiennedi,

Question: Do we need to specify the `kind` of the `from` class? Because you give the uuid, so whether it is a `Thing` or an `Action` doesn't really matter and can't be changed.

Then, what is exactly what you want to do with this? Because your initial proposal and the first comment achieve something different:
- Adding references with the **same** property name
    - As your initia

[2019-03-18 09:36] bobvanluijt commented on #781
The proposal makes complete sense. The only remark I have is regarding the nomenclature, there I’m with Laura, I think `references` is better suited.

[2019-03-18 09:40] etiennedi commented on #781
@bobvanluijt

Fully agree, do you also agree that we should change the existing routes like
`/things/properties/<cross-ref-prop-name>` to `/things/references/<cross-ref-prop-name>` since they are essentially the same thing, but currently called `properties`?

[2019-03-18 09:44] bobvanluijt commented on #781
Good point, yes, I found it confusing while working on the docs because they _only_ serve references and not properties in general.

[2019-03-18 10:07] etiennedi commented on #781
@laura-ham

Thanks for your comments and questions. Let me try to address them one by one.

It's not a hard-requirement. So far everything we have to access a specific class item does require specifying the kind though. For example `GET /things/<uuid>` or setting a cross-ref (without batch) where we specify something like `weaviate://localhost/things/<uuid>`. So I'd prefer if we also included the

[2019-03-18 12:12] laura-ham commented on #781
Hi @etiennedi ,

Thanks, this totally makes sense!

I now also see that my final proposal does indeed not solve the problem.

Your last proposal, for `POST /batching/references` looks good! :)

[2019-03-18 12:40] bobvanluijt opened #782 "Set docker-compose to use latest Weaviate-playgorund"
_self descriptive_

[2019-03-18 12:46] #782 closed

[2019-03-18 12:54] bobvanluijt opened #784 "Docker-compose setup fails to start Janus"
Based on: https://github.com/creativesoftwarefdn/weaviate/blob/master/docs/en/use/running-weaviate.md#running-the-latest-version

Results in:

[code]

[2019-03-18 13:06] bobvanluijt opened #785 "Add contextionary end-point"
Add endpoint with available contextionary services.

- [ ] Get information about single or [concatenated](https://github.com/creativesoftwarefdn/weaviate/blob/master/docs/en/use/ontology-schema.md#camelcase) words.
- [ ] Docs

[2019-03-18 13:47] bobvanluijt opened #786 "Running the dev environment fails on Building genesis_fake"
Running the dev setup fails.

`./tools/dev/restart_dev_environment.sh` results in:

[code]

On `Step 7/26 : RUN go mod download` in `Building genesis_fake`

[2019-03-18 14:05] etiennedi commented on #784
@bobvanluijt  I can't reproduce it, for me it's coming up fine on master:

[code]

Are you sure that you have all the files present in the `./docker-compose/runtime` folder as they are on master?

[2019-03-18 14:07] bobvanluijt commented on #784
I'll reproduce in a vid.

[2019-03-18 14:08] etiennedi commented on #786
@bobvanluijt Can you add some steps how to reproduce this please? Just running the script is working fine for me, as well.

[2019-03-18 14:12] etiennedi commented on #786
I'm deleting my entire docker image and container cache now, to see if that changes anything.

[2019-03-18 14:16] etiennedi commented on #786
Even without any cache whatsoever, it's building absolutely fine for me.

@bobvanluijt I can only imagine that you have an outdated or corrupted docker image locally that is creating an issue. Please do

1. Stop all running docker containers (e.g. with `docker rm -f $(docker ps -q)`
2. Delete all docker images with `docker rmi -f $(docker images -q)`

I'm willing to bet a nice bottle of wine that

[2019-03-18 14:21] bobvanluijt commented on #786
Haha, deal! Here we go...

[2019-03-18 14:22] bobvanluijt commented on #784
@etiennedi: https://www.youtube.com/watch?v=ELNEKm_bJgI

[2019-03-18 14:34] etiennedi commented on #784
FYI: @bobvanluijt and I just discussed this over slack, we think we have identified both the problem and a possible solution:

The issue was that with the update to Janus v.0.3.1 a new config file that is mounted into the `docker-compose` setup was added. However, the docs explicitly listed the files to be downloaded as part of the [How to run Weaviate Guide](https://github.com/creativesoftwarefdn

[2019-03-18 15:11] bobvanluijt commented on #784
Solved: https://github.com/creativesoftwarefdn/weaviate/blob/master/docs/en/use/running-weaviate.md

[2019-03-18 15:12] etiennedi commented on #784
Awesome. Can we close or do you want to verify again?

[2019-03-18 15:16] etiennedi opened #788 "Add Batch Cross-ref importer"
The Proposal was discussed in #781. Creating a new issue to track the implementation.

## Todos

* [x] rename `/<kinds>/<uuid>/properties/<propName>` to `/<kinds>/<uuid>/references/<propName>`
* [x] add new structure for batch importing cross-refs
* [x] build handler (ignore validation)
* [x] add validation
  * keep in mind that batch importing is a less-restrictive mode than regular operation. So

[2019-03-18 15:17] etiennedi commented on #781
Closing in favor of #788 as the proposal is considered accepted and now we only need to track the implementation.

[2019-03-18 15:17] #781 closed

[2019-03-18 15:19] #784 closed

[2019-03-18 15:20] bobvanluijt commented on #784
@etiennedi see ⬆️ 😄

[2019-03-18 18:13] etiennedi opened #789 "context for contacting etcd expires on startup on some machines"
On some machines, we currently can't start up the `./docker-compose/runtime` setup because the first request to etcd fails.

Most notably this happened when @bobvanluijt tried the docker-compose setup on a small-ish GCP VM and currently it's happening on @dljcollette's machine.

After trying to debug the issue together with @dljcollette, here is a copy of our findings from Slack:

[2019-03-18 18:15] etiennedi commented on #789
I have another idea what the problem could be: I also noticed that when using the docker setup it took quite some time until we saw the first log output. The way contexts work in Go is that they can have a timeout and at any time during an operation you can check your context whether you have enough time left to perform an operation. (Additionally you can use a channel to get a message once it is

[2019-03-19 08:29] etiennedi opened #790 "Travis (on master) incorrectly green if post-test docker build fails"
## What happened:
Due to Travis network flakiness the final `docker build` step (before the `docker push` failed). However the pipeline was still green.

## Possible reason:
Possibly missing an `|| travis terminate 1` somewhere?

## Logs:
Unfortunately I clicked "restart build" in hopes of fixing the issue, so now the logs are gone (i.e. replaced with those from the new build :( )

[2019-03-19 12:08] etiennedi commented on #788
FYI @bobvanluijt @laura-ham - something I only realized now:

Since the Batch importer's goal is speed, it must avoid all slow patterns (similar to the other batch importers). This also means the validation will be minimal. This in turn means that this importer is somewhat dangerous because you can actually import stuff that doesn't make sense if you're not 100% sure what you're doing. As a result

[2019-03-19 18:32] #720 closed

[2019-03-20 07:40] etiennedi opened #793 "Docs incorrect about GeoCoordinates"
The docs claim that a field of type `geoCoordinates` was a string, however in reality it is a map with exactly two fields which are both required, like so (assuming the user named the field `"location"`:

[code]

[2019-03-20 08:14] etiennedi opened #794 "Spike: Can we use go-swaggers "managed" way for Oauth2?"
## Background

Our original plan was to use OIDC as an auth module as outlined in #628. In the meantime we have learned that [there is also a way to integrate oauth2](https://github.com/go-swagger/go-swagger/tree/master/examples/composed-auth) directly into `go-swagger`.

## Goal

**Question: Would we benefit from using this feature over building the required things ourselves?**

In more detail:
*

[2019-03-20 14:27] bobvanluijt opened #796 "Set response body for code 200 when creating schema items"
_self descriptive_

[2019-03-20 15:05] #796 closed, assigned to bobvanluijt

[2019-03-20 15:05] #788 closed

[2019-03-20 15:49] bobvanluijt opened #798 "Update adding latest to all docker pushes"
- [x] always publish `:latest`
- [x] update docs with warning.

[2019-03-20 15:59] #798 closed

[2019-03-20 17:41] etiennedi opened #800 "Remove environment from config file, just have one config per file"
Currently we are grouping multiple sets of independent configs into a single config file. This is a 12-factor anti-pattern:

Source: https://12factor.net/config

More importantly though, we have seen exactly the issues that the 12-factor principles predict. For example, when switching between different setups (dev, runtime dc, etc.) we have mounted incorrect configs, that all of a sudden had a net

[2019-03-20 20:58] bobvanluijt commented on #800
Also, there might be deprecated things in the config files that can be removed.

[2019-03-21 07:40] etiennedi commented on #794
I slightly misinterpreted the `go-swagger` docs. There isn't really a way of managing Oauth with `go-swagger`. We can simply configure it and have the option to pass different scopes to different endpoints. This is however not at all fine-grained enough for what we need.

Nevertheless the spike provided some good answers, we know know that
* we have no limitations regarding pluggability as long as

[2019-03-21 07:40] #794 closed

[2019-03-21 08:08] etiennedi commented on #628
Considering the major building blocks of this proposal accepted. Details can be ironed out down the line. Therefore closing this issue and opening two new issues to reflect Authentication and Authorization.

[2019-03-21 08:08] #628 closed

[2019-03-21 08:09] etiennedi opened #801 "Pluggable Auth: Allow OIDC Authentication"
as outlined in #628

## Todos
* [x] regenerate with desired principles (straight on master to minimize impact on others)
* [x] add OIDC option in swagger
* [x] add Authentication switcher to config
  * [x] when no auth is selected, error
  * [x] when only OIDC is enabled, make sure anonymous fails
    * this might require a workaround: https://github.com/go-swagger/go-swagger/issues/1446#issuecomm

[2019-03-21 08:10] etiennedi opened #802 "Pluggable Auth: Minimal RBAC Authorization"
as outlined in #628

[2019-03-21 09:52] etiennedi commented on #800
Good point. In the MVP timeline we have a 2-3 or three days in the end to verify everything works as intended and is as polished as it should be. One of the things we can do there would be "clean up config management" in General. I.e. just timebox the cleanup and improvement of the config UX as much as possible.

[2019-03-21 10:54] JeroenStravers1 opened #803 "Telemetry: create acceptance test"
## Reason
I want to make sure logging of requests is handled correctly, unit tests only go so far.

## Tasks
- [x] SETUP a mock endpoint
  - [x] setup basic endpoint in test env
  - [x] determine required functions
  - [x] determine how to succesfully run `go build && ./<filename>` from another folder than `main`
  - [x] implement in the acceptance test
    - [x] setup to use cbor posts
    - [x]

[2019-03-21 10:57] JeroenStravers1 opened #804 "Create getting started doc for contributors"
Write a (first draft of a) step-by-step getting started guide for contributors, starting with a clean (linux) machine and ending with a running Weaviate instance.

Possible overlap with [this](https://github.com/creativesoftwarefdn/weaviate/blob/master/docs/en/contribute/getting-started.md) document.

[2019-03-22 10:02] etiennedi commented on #800
We should also look into whether we could use https://github.com/spf13/viper Viper is 12-factor compatible by default and would provide a few benefits that could help us greatly at the moment:
For example we could set a relatively generic `config.yaml` and then overwrite individual values using environment variables. This way we don't need dozens of configuration files for each edge case. Especial

[2019-03-23 20:51] laura-ham opened #805 "Update GraphQL docs"
The GraphQL documentation needs updates:
- Parameter for OLAP queries (#720)
- Links need to be updated because of changing file names
- GQL docs structure, because it's the information is not organised really well (filter / parameter info is on multiple pages)

[2019-03-23 20:53] #805 closed

[2019-03-24 20:43] bobvanluijt opened #806 "Remove UI from Weaviate & add version to /meta"
It is now available in the Playground

[2019-03-24 23:54] #806 closed

[2019-03-25 07:49] dljcollette opened #808 "CORS issue on PUT http://localhost:8080/weaviate/v1/schema/things/{thingName}"
I get a CORS message when making a PUT request with http://localhost:8080/weaviate/v1/schema/things/{thingName} 400 (Bad Request) though Playground in chrome. It should not give this message:

```localhost/:1 Access to fetch at 'http://localhost:8080/weaviate/v1/schema/things/Plant' from origin 'http://localhost:3000' has been blocked by CORS policy: No 'Access-Control-Allow-Origin' header is pres

[2019-03-25 08:18] etiennedi opened #809 "Improve UX when external analytics engine is used"
With #720 we introduced an MVP style way of running background analytical jobs with an external analytics engine (In the case of Janusgraph this means Spark).

**After the MVP** we want to improve the UX as outline on Slack with @laura-ham and @bobvanluijt as follows:

* [ ] Improve hashing/caching algorithm so that follow-up queries using fewer fields than a cached query can still be served from

[2019-03-25 09:00] etiennedi opened #810 "Document config changes introduced with Analytics Engine"
Please also see this draft I made, I don't know if it's up-to-date anymore. Please validate, but maybe you can use some parts of it:

[code]

[2019-03-25 10:26] JeroenStravers1 commented on #773
This issue has been resolved.

[2019-03-25 10:26] #773 closed

[2019-03-25 15:43] Krijger commented on #730
I'm curious. If you would want to update the contextionary while running Weaviate. Would that work? How would it look?

This question is of course about a production situation, not the development docker-compose setup (although with volume mounted contextionary files, this may still be interesting).

[2019-03-25 15:57] etiennedi commented on #730
@Krijger I'll answer this in two ways for the setup prior to the proposal outlined in here and after:

## Current Setup (contextionary part of weaviate)
Right now, weaviate builds an in-memory representation (technically a memory-mapped file) at startup. So if you were to change the contextionary files, you'd have to trigger a restart. If zero-downtime is a concern, then you have to run weaviate i

[2019-03-25 16:12] Krijger commented on #730
O, it appears the life cycle of the contextionary is even more complicated. I now read

[here](https://github.com/creativesoftwarefdn/weaviate/blob/master/docs/en/contribute/contextionary.md). Up to you if this makes my previous question invalid, or more interesting :)

[2019-03-25 16:21] etiennedi commented on #730
Definitely not invalid and surely a bit more interesting: This is right now a very theoretical case. The exact network design specifications might change based on usage metrics and user feedback. There are many solutions to the distributed network problem, though, each come with their own drawbacks. For example:

- Coordinated Updates. This makes sense if the entire Network is owned by one Party.

[2019-03-25 18:16] etiennedi opened #811 "Adding an invalid keyword can end up in a crash loop"
more content coming tomorrow.

While investigating #808 we found that there is a situation where it's possible to add an invalid keyword and then have weaviate crash in a loop.

## How to reproduce
1. Add a class
2. Update the class by adding a keyword which is not in the contextionary
3. Watch weaviate crash.
4. Try restarting weaviate and watch it crash again.

[2019-03-25 18:18] etiennedi commented on #811
Added the `Urgent / Blocker` label as this bug allows you to break your instance in a way that you can't recover without manually messing with the dbs.

[2019-03-25 18:43] etiennedi commented on #811
Results from the initial investigation:

I think I found the issue. This validation function returns an error that is being ignored:
https://github.com/creativesoftwarefdn/weaviate/blob/b4dd6fafc2d97acf7bd227e9b06bad11416d3ea4/database/schema_manager/etcd/manager.go#L112-L116

[2019-03-26 05:34] #811 closed

[2019-03-26 06:35] #808 closed

[2019-03-26 08:27] etiennedi opened #812 "Resolve Network Aggregate (by proxying to remote peer)"
## Todos
* [x] add resolver in graphql package
* [x] add proxy method in network package
* [ ] verify end to end

[2019-03-26 10:55] bobvanluijt opened #813 "source has pipe error when loading over a slow(er) connection"
Solve with: `curl -s http://server/path/script.sh | bash`

[2019-03-26 11:01] #813 closed

[2019-03-26 13:44] rafaelcanalesduron opened #815 "add jq to the docs"
When preparing to run Weaviate jq is needed, but not mentioned in the docs as something to check.

Another point to consider is to make sure Docker memory is checked before running docker compose (in the preparation section perhaps) and not after if you run into issues.

[2019-03-26 13:58] etiennedi commented on #815
Can we remove the dependency to `jq`? The point of the `docker-runtime` setup is to try it out and how weaviate comes with "batteries included". First requiring the user to install `jq` is the exact opposite of that philosophy.

[2019-03-27 17:18] #812 closed

[2019-03-28 12:27] etiennedi commented on #648
@laura-ham Some time ago, we talked on Slack about merging `Network { Introspect }` with `Network { Fetch }` (and the same for Local). I was just about to get started with this and was wondering if this proposal still needs discussion or if I can just get started and we refine it afterwards based on feedback?

My plan is to simply merge them, so that the additional step of putting the beacon into

[2019-03-28 12:54] etiennedi opened #819 "Cryptic error message for missing operator in Local Fetch"
see Screenshot.

Should be saying something like `Required property "operator" not set`, instead fails on trying to convert an interface which is nil:

![image](https://user-images.githubusercontent.com/8974479/55159268-ead44180-5160-11e9-88dc-0a54b7eca070.png)

[2019-03-28 12:55] laura-ham commented on #648
Yes let's do that!

Two points:
- We currently don't have a Local Fetch, so we need to make this as well.
- And indeed Network Introspect will be omitted then, but also the Network Introspect Beacon (https://github.com/creativesoftwarefdn/weaviate/blob/master/docs/en/use/graphql_network.md#introspect-a-beacon)? Because we lose this functionality than.

[2019-03-31 16:14] bobvanluijt opened #820 "Add C11y string validation to config file"
Add string validation to the config file and implement when adding strings.

The goal of this function is that a string that is added should -optionally- be validated again the C11y. Same functionality as `operationId: weaviate.c11y.corpus.get` should be used.

TODO:
- [ ] Add config option
- [ ] Integrate the validation per function

[2019-03-31 16:29] #709 closed

[2019-04-01 12:36] bobvanluijt commented on #810
Check, thanks @etiennedi. I'll pick this up asap.

[2019-04-01 12:36] bobvanluijt commented on #809
+1 for the `extension`. I could see more future use cases there.

[2019-04-01 12:46] bobvanluijt commented on #788
@etiennedi, I think that the pragmatism in this approach is best. Can you please create an issue for me when it is ready so that I know _what_ to add?

[2019-04-01 12:47] bobvanluijt commented on #790
Hmm, that's weird. Can you please send the link to the Travis you mention so I can check?

[2019-04-01 12:48] bobvanluijt commented on #789
Sorry for late response, missed this issue. Any progress here?

[2019-04-03 12:24] etiennedi commented on #710
Thanks a lot for your input, @laura-ham. I haven't been able to focus on this part yet. I like your weighted distance proposal, though. I'm currently not sure how feasible this is from a technical perspective with the current connectors, since we don't see which property matched. However, this is a problem we can solve. As of now (MVP timeline) we don't return certainties yet. I'll come back to th

[2019-04-04 03:56] dljcollette opened #822 "Delay after adding thing or action"
There seems to be a delay in updating the complete list of things and actions. As a result, I'm unable to fetch a newly added thing or action. The Weaviate instance that I was working with did not contain more than 5 things.

1. [Add a new thing or action](https://app.swaggerhub.com/apis/bobvanluijt/weaviate/0.12.70#/actions/weaviate.actions.create)
2.  [Request all things or actions](https://app.

[2019-04-04 04:08] dljcollette opened #823 "Different body for thing and action POST and PUT"
The structure of the request body for [adding a thing or action](https://app.swaggerhub.com/apis/bobvanluijt/weaviate/0.12.70#/actions/weaviate.actions.create) differs from the request body for [updating a thing or action](https://app.swaggerhub.com/apis/bobvanluijt/weaviate/0.12.70#/actions/weaviate.action.update)

POST:
[code]

PUT:
[code]
Though this is technically not a bug, from a UX perspect

[2019-04-04 04:12] dljcollette commented on #823
The same goes for the [validating a thing or action](https://app.swaggerhub.com/apis/bobvanluijt/weaviate/0.12.70#/actions/weaviate.actions.validate), which seems to be maintain the same body structure as with `updating a thing or action`, but not with `adding a thing or action`.

Validate POST:
[code]

[2019-04-04 04:27] dljcollette commented on #823
Also, I've seen that the docs describe different request bodies compared to Swagger:

[PUT in docs](https://github.com/creativesoftwarefdn/weaviate/blob/master/docs/en/use/RESTful.md#update-a-action)
[code]

[POST validate in docs](https://github.com/creativesoftwarefdn/weaviate/blob/master/docs/en/use/RESTful.md#validate-a-action)
[code]

[2019-04-04 05:02] dljcollette opened #824 "Error after adding thing or action with empty field and/or using dataType text"
1. Create a class, i.e. class `Animal` with property `someText` with dataType `text`.
2. Add multiple things with each a value for `someText`, but leave `someText` blank for one thing or submit a completely empty thing.
3. Perform a meta query in GraphQL:
[code]
Response errors:
[code]
[code]

I would expect Weaviate:
1. to accept a dataType `text` and empty fields (since no required fields are se

[2019-04-04 07:59] etiennedi commented on #822
This is to be expected with the janusgraph connector for all requests other than getting a thing by its uuid ID. This is because the only index we have in Cassandra itself is for UUIDs. All other indices are coming from Elasticsearch and Elasticsearch needs some time to build the indices. This time however can be configured, so it might help to reduce it, in cases where the playground is used. Acc

[2019-04-04 08:01] etiennedi commented on #824
Thanks for finding this, I'll investigate what's causing this.

[2019-04-04 08:21] etiennedi commented on #790
Unofortunately not, because of

I think to reproduce this we'd have to force a docker build that fails. I think in the original attempt it failed due to network flakiness. Maybe we could recreate this on a branch. Remove the tests, make sure the docker build fails, and then see if the pipeline is green as outlined in the OP.

[2019-04-04 08:23] etiennedi opened #825 "GeoCoordinates 0,0 lead to unexpected behavior"
From slack, as found by @dljcollette

[2019-04-04 09:51] etiennedi commented on #647
@laura-ham The className is now added to all Fetch queries. (Also not the type in "Berlin", yet it matches because of the levensthein-based fuzzy matching in Janusgraph 😉)

Feel free to push the doc changes to branch `feature/fetch_fuzzy`. I'll wait before creating a PR until all the changes are in.

![image](https://user-images.githubusercontent.com/8974479/55546479-b6680480-56cf-11e9-92a6-d6b4ba

[2019-04-04 14:08] etiennedi commented on #824
@dljcollette

By doing what you outlined I was able to reproduce this error:

[code]

but not this one:

[code]

What do I have to do to see the second error?

[2019-04-05 06:31] etiennedi commented on #820
We might need this a bit more granular than just force vs no-force. Let's say we have a large dataset of artworks. Each artwork is described with human language very well in a description field, so we want to benefit from validating that the description is entirely contained in the contextionary. However, the artworks might have names that aren't real words from the dictoniary. So in this case it

[2019-04-05 06:36] etiennedi commented on #825
Most likely related to https://github.com/swagger-api/swagger-codegen/issues/7391#issuecomment-373355961

I'll try this out.

[2019-04-05 06:53] etiennedi commented on #825
Unfortunately the fix proposed there does not work for `number`/`float32` types as demonstrated in https://github.com/swagger-api/swagger-codegen/issues/7391#issuecomment-480168013

CC @dljcollette @bobvanluijt

[2019-04-05 07:02] etiennedi commented on #761
Closing as the workaround fixed the issue. Once a nicer solution becomes available in `graphql-go` we can always switch to this one.

[2019-04-05 07:02] #761 closed

[2019-04-05 07:04] etiennedi commented on #758
Assuming the fix worked. Closing. Feel free to reopen if it is indeed not fixed.

[2019-04-05 07:04] #758 closed

[2019-04-05 07:30] etiennedi commented on #786
Closing, as @bobvanluijt has confirmed via Slack that the above did indeed fix the problem.

[2019-04-05 07:30] #786 closed

[2019-04-05 09:39] #819 closed

[2019-04-08 07:30] etiennedi opened #826 "Make REST api more RESTful / Remove unexpected behavior"
## Background
Over the last couple of weeks we have identified a few places in the API that cannot be considered intuitive, as they sometimes behave differently. This includes endpoints that don't describe resources, describe different resources for the same path depending on the verb used, etc.

These were mostly discovered when using the APIs through UI clients by @dljcollete, when writing Getti

[2019-04-08 07:41] etiennedi commented on #789
I think the proposed fix worked for most cases. Definitely seemed to have fixed the issue for @dljcollette. The only thing we need to still test is if the setup now works on much smaller GCP VMs as before. My guess would be yes. Let me know if you have some time to run a test (@bobvanluijt) otherwise I could also do that, so that we can then close this issue.

[2019-04-08 07:44] etiennedi commented on #744
Is completed, not sure why we never closed the issue. Closing it now.

[2019-04-08 07:44] #744 closed

[2019-04-08 07:46] etiennedi commented on #713
Closing as we have proven that the system can be scaled and have gained new learnings on how to improve the API design and UX topics.

[2019-04-08 07:46] #713 closed

[2019-04-08 07:47] #662 closed

[2019-04-08 07:48] #656 closed

[2019-04-08 07:49] etiennedi commented on #643
Obsolete as this has been covered with #647

[2019-04-08 07:49] #643 closed

[2019-04-08 07:51] etiennedi commented on #824
Could possibly be related to https://github.com/creativesoftwarefdn/weaviate/issues/624

[2019-04-08 07:52] etiennedi commented on #615
Obsolete as key auth has been removed/replaced.

[2019-04-08 07:52] #615 closed

[2019-04-08 07:54] etiennedi commented on #612
Was merged, but issue never closed. Closing now.

[2019-04-08 07:54] #612 closed

[2019-04-08 07:55] etiennedi commented on #573
Was fixed as part of the scale tests and investigations. Closing.

[2019-04-08 07:55] #573 closed

[2019-04-08 07:57] etiennedi commented on #570
Closing as I assume this has been adressed in other issues.

[2019-04-08 07:57] #570 closed

[2019-04-08 08:00] etiennedi commented on #534
Closing as this is part of the Getting Started Guides in the meantime.

[2019-04-08 08:00] #534 closed

[2019-04-08 08:01] etiennedi commented on #511
Closing as aggregate has been implemented in Weaviate Core and released for quite some time.

[2019-04-08 08:01] #511 closed

[2019-04-08 08:03] etiennedi commented on #477
Has been implemented by switching the schema management to etcd.

[2019-04-08 08:03] #477 closed

[2019-04-08 08:04] etiennedi commented on #459
Has been implemented quite some time ago.

[2019-04-08 08:04] #459 closed

[2019-04-08 08:05] etiennedi commented on #432
Obsolete as Key auth has been removed/replaced.

[2019-04-08 08:05] #432 closed

[2019-04-08 08:05] #424 closed

[2019-04-08 08:06] etiennedi commented on #416
@bobvanluijt Is this still relevant? Are there any cases where we'd want to run weaviate without a contextionary?

[2019-04-08 08:08] etiennedi commented on #414
Closing as we use Elasticsearch for some and Cassandra for other indices. Indexing can of course always be improved, but I believe this can be tracked in a new issue once we run into actual problems with the current indexing stratgies which seem fine for most cases at scale.

[2019-04-08 08:08] #414 closed

[2019-04-08 08:09] etiennedi commented on #413
Closing as all the steps outlined in https://github.com/creativesoftwarefdn/weaviate/issues/413#issuecomment-449408411 have been completed.

[2019-04-08 08:09] #413 closed

[2019-04-08 08:12] etiennedi commented on #411
Closing this as we have gradually removed global variables and implemented more and more locking. I'm not aware of any bad offenders, so I don't see a need for a blanket issue anymore. Once we identify potential races anywhere else, we can open specific issues for them.

[2019-04-08 08:12] #411 closed

[2019-04-08 08:17] etiennedi commented on #504
@bobvanluijt can this be closed or is there anything left to do?

[2019-04-08 10:27] dljcollette commented on #824
@etiennedi To reproduce the second error, I've used the following query (though on a different class):
[code]
Is giving me:
[code]

[2019-04-08 10:28] etiennedi commented on #824
@dljcollette Awesome, thanks. This helps a lot.

[2019-04-08 13:46] #824 closed

[2019-04-08 14:50] bobvanluijt commented on #789
Just to make sure, is this with the current `:latest` version already possible?

[2019-04-08 14:50] bobvanluijt commented on #416
Nope, outdated.

[2019-04-08 14:50] #416 closed

[2019-04-08 14:51] bobvanluijt commented on #504
Nope, finished with @idcrosby's commit.

[2019-04-08 14:51] #504 closed

[2019-04-08 14:53] etiennedi commented on #789
Yes, the last tag for `:latest` was done 11 days ago, the last commit here is 20 days old. So, yes :)

[2019-04-08 15:02] bobvanluijt commented on #789
Haha, I was confused is the solution was part of the latest PR or already is part of latest.

[2019-04-08 15:10] etiennedi commented on #789
Ah, no, since this was blocking @dljcollette this was pushed straight to master.

[2019-04-08 18:42] JeroenStravers1 opened #829 "Telemetry acceptance test sometimes returns EOF error"
## Issue
The acceptance test for request logging is sometimes failing with an `EOF` error. @etiennedi increased the waiting time before querying the mock api and this seems to have resolved it locally, but this error is still occurring at the CI server. This error is currently blocking progress.

## Background
The acceptance test for request logging works by sending a request to the test weaviate,

[2019-04-08 18:47] JeroenStravers1 commented on #829
After doing some research it appears to be a known issue. Adding
`request.close()`
right after
`request, err := http.NewRequest(method, url, httpBody)`
should do the trick. I'll add this to the test and to the [function](https://github.com/creativesoftwarefdn/weaviate/blob/b10d139b2b97c85a832840bb625c6ae952cd7c6f/telemetry/reporting.go#L197) responsible for posting logs to the endpoint, I'll test

[2019-04-09 08:25] etiennedi commented on #823
I've started addressing all of these in #826. I'll keep this issue open until #826 is ready to be merged.

[2019-04-09 12:34] etiennedi commented on #576
Closing in favor of #826

[2019-04-09 12:34] #576 closed

[2019-04-09 12:48] etiennedi commented on #499
Closing as this is being addressed in #826

[2019-04-09 12:48] #499 closed

[2019-04-09 15:22] dljcollette opened #830 "Removing keywords with empty array doesn't persist"
A class or property has keywords and I would like to remove the keywords by doing a `PUT schema/things/{className}` or `PUT schema/things/{className}/properties/{propertyName}` with the body `{ keywords: [] }`. The response status code is `200`, however the changes are not persisted and the keywords are still present. I would expect keywords to be an empty array. It does persist when the keywords

[2019-04-09 15:31] dljcollette opened #831 "Can't fetch nodes after removing class properties"
I'm receiving `GET http://localhost:8080/weaviate/v1/things net::ERR_EMPTY_RESPONSE` after I've removed properties of a class when some things are using this class and properties. For example, create a class with the properties `name` and `street`; create a node which uses that class; remove the property `name`; try to fetch `/things`.

[2019-04-10 09:03] etiennedi commented on #654
Closing as I wasn't reproduce this with either `POST localhost:8080/weaviate/v1/schema/things` or `POST localhost:8080/weaviate/v1/schema/things/<className>/properties` and various incorrect values. I assume this issue has been fixed in the mean time. Tracking similar issues in #826.

[2019-04-10 09:03] #654 closed

[2019-04-10 12:17] etiennedi commented on #745
Closing, changes will be merged with #826

[2019-04-10 12:17] #745 closed

[2019-04-10 16:57] etiennedi opened #832 "PUT /schema/<kind>/<class> and PUT /schema/<kind>/<class>/properties ignore options other than name or keyword"
In #826 we made sure that the PUT handlers would have the same request body as the other fields. However, we did not yet add new implementation, so currently specifying fields other than those that previously existed have no effect.

[2019-04-10 18:35] dljcollette opened #833 "Error after deleting a property and creating another one with same name"
Please see: https://github.com/semi-technologies/playground/issues/141. The issue was reported in Playground but seems to be related to Weaviate.

[2019-04-11 12:49] #801 closed

[2019-04-11 16:28] etiennedi commented on #833
Looks like this was related to #831, I have a fix for both on a branch, but it depends on another PR being merged first. I'll let you know as soon both is ready.

[2019-04-11 17:41] #647 closed

[2019-04-12 09:14] etiennedi opened #836 "Refactor handlers"
* Remove Business Logic from handlers
* Remove duplication
* Introduce tests where appropriate
* Decouple business logic from database implementation

[2019-04-12 13:38] #826 closed

[2019-04-12 13:38] #831 closed

[2019-04-12 13:38] #833 closed

[2019-04-15 07:40] etiennedi commented on #756
@bobvanluijt I just noticed that you are trying to add two resources at the same time with `POST`. That's not possible, `POST` must add exactly one resource (the resource being the cross-ref in this case). Did you try adding them one at a time? Might be that it works as intended, just the error message is bad?

[2019-04-15 07:44] bobvanluijt commented on #756
No, I did not try that. But if that would work, wouldn’t the array input be a bit misleading?

[2019-04-15 07:44] etiennedi commented on #756
Definitely, let me check if that is actually the case.

[2019-04-15 07:46] etiennedi commented on #756
According to the swagger docs this endpoint takes a single object:

![image](https://user-images.githubusercontent.com/8974479/56115235-3f4e2e00-5f63-11e9-9736-4a01cfef0dc2.png)

Is it possible you actually tried the `PUT` endpoint which does take an array?

[2019-04-15 13:46] etiennedi opened #837 "clean up architecture"
... according to [Clean Architecture](http://blog.cleancoder.com/uncle-bob/2012/08/13/the-clean-architecture.html)

[2019-04-15 15:22] etiennedi commented on #737
@JeroenStravers1 can this be closed?

[2019-04-15 15:22] etiennedi commented on #803
@JeroenStravers1 can this be closed?

[2019-04-15 15:22] etiennedi commented on #829
@JeroenStravers1 can this be closed?

[2019-04-16 08:27] etiennedi commented on #790
@bobvanluijt I ran into the situation again:

The docker build/push clearly failed (due to another error that I've fixed in the meantime):
<img width="1254" alt="Screenshot 2019-04-16 at 10 25 06" src="https://user-images.githubusercontent.com/8974479/56193976-324c4000-6032-11e9-89ae-7dfc1bcfc7b2.png">

But the build was still considered a success
<img width="1096" alt="Screenshot 2019-04-16 at 10

[2019-04-16 13:03] dljcollette opened #838 "/things returns empty array"
`/things` returns `{ things: [] }`. I was expecting it to return nodes in the array in the `things` object or to return an array with nodes if the `things` object is removed like in all the bodies.

[2019-04-16 13:57] JeroenStravers1 commented on #829
Closing gh-829, telemetry no longer returns an EOF error

[2019-04-16 13:57] #829 closed

[2019-04-16 13:58] JeroenStravers1 commented on #803
Closing gh-803 as the acceptance test is fully functioning

[2019-04-16 13:58] #803 closed

[2019-04-16 14:00] JeroenStravers1 commented on #804
On closer inspection the linked doc is exactly what I had in mind, closing this issue.

[2019-04-16 14:00] #804 closed

[2019-04-16 14:01] JeroenStravers1 commented on #737
closing gh-737, added cbor conversion error logging

[2019-04-16 14:01] #737 closed

[2019-04-16 14:01] JeroenStravers1 commented on #636
Closing gh-636 as we're no longer using the schema acceptance test

[2019-04-16 14:01] #636 closed

[2019-04-16 16:58] etiennedi commented on #838
@dljcollette  Thanks, that's definitely something I must have missed in #826. Just to reiterate, is it only the form that's wrong (i.e. unnecessary "things" field inside the response) or is it also a bug that the array is empty when it shouldn't be?

[2019-04-16 17:17] dljcollette commented on #838
@etiennedi it's also empty when it shouldn't be.

[2019-04-16 17:38] dljcollette opened #839 "Editing schema property doesn't persist"
When editing a schema property like `PUT http://localhost:8080/weaviate/v1/schema/things/Company/properties/description` with a body like:
[code]
it will only persist changes in for `name`. I would expect it to persist the complete payload.

[2019-04-17 07:31] etiennedi commented on #839
This is essentially the same as #832, closing this one and copying the OP over.

[2019-04-17 07:31] #839 closed

[2019-04-17 07:35] etiennedi commented on #832
This must also involve some heavy validation of which fields we actually want to allow to change. Changing the type would be impossible for example if there are any class instances out there already. Since this is hard to check (at scale), we'll most likely have to make `dataType` and therefore `cardinality` immutable. It should still be fine to change `name`, `keywords`, and `description` though.

[2019-04-17 08:22] etiennedi opened #840 "Make startup routine more user-friendly"
Right now we are simply exiting if our dependencies are not ready yet. Instead we could wait for a reasonable amount of time for the dependencies to come up. This would print fewer errors to the logs which always seem to suggest to users that something is wrong when we're in fact just waiting.

[2019-04-17 10:13] dljcollette commented on #832
Ok, I'll make sure all fields are disabled except for `name`, `keywords` and `description`. I guess the body could include all fields but just not adjust all of them?

[2019-04-17 10:26] dljcollette commented on #838
@etiennedi here are the steps to reproduce:

`POST http://localhost:8080/weaviate/v1/schema/things/` with body `{ class: "Animal", description: "", keywords: [] }` returns `{ class: "Animal", properties: null }`

`POST http://localhost:8080/weaviate/v1/schema/things/Animal/properties/` with body `{ cardinality: "atMostOne", dataType: ["string"], description: "", keywords: [], name: "name" }` retur

[2019-04-17 10:41] etiennedi commented on #838
Hi @dljcollette,

unfortunately I still can't reproduce it. Just tried exactly your steps and it works fine for me:

[code]

I wouldn't rule out that this was buggy in a previous version, but fixed in the meantime. I just tried with `0.12.71-79efeb0`. Could you verify with exactly this version, too? Thanks

[2019-04-17 15:28] idcrosby opened #841 "CD pipeline for Weaviate"
Depends on https://github.com/semi-technologies/weaviate-infra/issues/65

- [ ] Create (manual) staging env
- [x] Clean up travis yml
- [x] Add Deployment stage
- [ ] Make Helm chart public
- [ ] Deploy Weaviate Helm chart with latest weaviate image tag